
<div class="confirmBox-component">
  <div class="confirmBox">
    <div class="quiz">
      <div class="quiz-header">機器人驗證</div>
      <div class="quiz-body">
        <div class="quiz-title">請計算下列答案，將答案填寫至輸入框：</div>
        <div class="quiz-formular">{{x}} x {{y}} + {{z}} = <input type="text" [(ngModel)]="inpAnswer" /></div>
      </div>
      <div class="quiz-footer">
        <button class="btn-quiz" (click)="correct()">送出</button>
      </div>
    </div>
  </div>
</div>
