@import 'component/confirm_order'

.confirmBox
  display: flex
  justify-content: center
  align-items: center

.quiz
  max-width: 400px
  min-width: 300px

.quiz-header
  padding: 1rem
  font-weight: 700
  font-size: 1.4rem
  background-color: $font-green
  color: $font-light-brown

.quiz-body
  padding: 1rem
  background-color: #fff
  color: $font-green

.quiz-title
  font-size: 1.2rem
  margin-bottom: 1rem

.quiz-formular
  margin-bottom: 1rem
  font-size: 1.8rem

.quiz-footer
  padding: 0 1rem .75rem 1rem
  color: $font-green
  background-color: #fff
  text-align: right

.btn-quiz
  color: $font-pink
  background-color: $font-green
  padding: 6px 12px
