
<div class="confirmBox-component">
  <div class="confirmBox">
    <div class="confirmBox-header">
      {{ props?.title }}
      <button class="btn-confirmBox-close"></button>
    </div>
    <div class="confirmBox-body is-confirm">
      <div class="confirmBox-msg">
        <!-- detail Step 1-->
        <div class="detail" *ngIf="bookingStep === 0">
          <div class="detail-content">
            <div class="detail-info">
              <div class="bookingStepBlock">
                <ul class="bookingStep">
                  <li class="bookingStep-item">
                    <span class="step-icon is-checked">
                      <fa-icon class="form-checkmark" [icon]="faCheck"></fa-icon>
                    </span>
                    <span class="step-title">選擇日期</span>
                  </li>
                  <li class="bookingStep-item">
                    <span class="step-icon is-checked">
                    <span>2</span></span>
                    <span class="step-title">訂位需知</span>
                  </li>
                  <li class="bookingStep-item">
                    <span class="step-icon">
                    <span>3</span></span> <span class="step-title">完成訂單</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="detail-info">
              <div class="detail-body">
                <div class="detail-h5-title">
                  <h5 class="h5"><span class="step step--h5">></span>訂位及退費相關須知</h5>
                  <div class="detail-warning">
                    *以下所有退款手續費皆由訂位者自行負責
                  </div>
                </div>
                <h5 class="h5">營位取消：</h5>
                <ul class="detail-ul">
                  <li><b>2</b>天內取消訂位，訂金不予退費。<br>例：入住日為6/17，6/16取消，不予退費。</li>
                  <li><b>2-7</b>天內取消訂位，退 50% 訂金。<br>例：入住日為6/17，6/11-6/15取消，退 50% 訂金。</li>
                  <li><b>7</b>天前取消訂位，退全額訂金。<br>例：入住日為6/17，6/10以前取消，退全額訂金。</li>
                  <li>已完成訂位者，入場當日或前一日若遇不可抗力之天災(颱風，地震，以南投縣政府公告為主)可申請全額退費。</li>
                </ul>
                <!-- <ul class="detail-ul">
                  <li>已完成訂位者，若遇天災(以宣布停班停課為準)，可退款100%。</li>
                  <li>入場日前8日以上取消營位，可退款100%。</li>
                  <li>入場日前5~7日取消營位，可退款50%。</li>
                  <li>入場日前3~4日取消營位，可退款30%。</li>
                  <li>入場日前2日(含)内取消營位，恕不退款。</li>
                  <li>入場日前7日內恕無法受理延期。</li>
                  <li>退款範例說明：
                    <table cellspacing="1" cellpadding="6" style="margin: 1em 0;">
                      <tr>
                        <th colspan="2" align="center">日期</th>
                        <th align="center">退款</th>
                        <th align="center">延期</th>
                      </tr>
                      <tr>
                        <th>入場日</th>
                        <td>5/15</td>
                        <td rowspan="3" align="center">恕不退款</td>
                        <td rowspan="8" align="center">無法延期</td>
                      </tr>
                      <tr>
                        <th>前一日</th>
                        <td>5/14</td>
                      </tr>
                      <tr>
                        <th>前二日</th>
                        <td>5/13</td>
                      </tr>
                      <tr>
                        <th>前三日</th>
                        <td>5/12</td>
                        <td rowspan="2" align="center">退款30%</td>
                      </tr>
                      <tr>
                        <th>前四日</th>
                        <td>5/11</td>
                      </tr>
                      <tr>
                        <th>前五日</th>
                        <td>5/10</td>
                        <td rowspan="3" align="center">退款50%</td>
                      </tr>
                      <tr>
                        <th>前六日</th>
                        <td>5/9</td>
                      </tr>
                      <tr>
                        <th>前七日</th>
                        <td>5/8</td>
                      </tr>
                      <tr>
                        <th>前八日以上</th>
                        <td>5/7</td>
                        <td>退款100%</td>
                        <td align="center">可延期</td>
                      </tr>
                    </table>
                  </li>
                </ul>
                <h5 class="h5">包場取消：</h5>
                <ul class="detail-ul">
                  <li>入場前30日前提出申請，全額退款</li>
                  <li>入場前15~30日提出申請，退款50%</li>
                  <li>入場前15日內申請取消預約恕不退款</li>
                  <li>已完成訂位者，入場當日或前一日若遇不可抗力之天災(颱風，地震，以南投縣政府公告為主)可申請延期</li>
                </ul> -->
                <div class="detail-h5-title">
                  <h5 class="h5"><span class="step step--h5">></span>入退場時間</h5>
                </div>
                <h5 class="h5">進場時間：</h5>
                <ul class="detail-ul">
                  <li>夜衝時間：下午18:00~22:00前入園，安全第一及顧及他人權益，造成不便敬請見諒!</li>
                  <li>露營日當天：若您預訂的營位前一日有露友搭帳時，您需在下午13:00以後方可紮營，入場前一日可事先 FB Messenger 私訊小幫手聯繫確認。</li>
                  <!-- <li>
                    山中宿屋：下午14:00可入住，中午11:00前退宿。
                  </li> -->
                </ul>
                <h5 class="h5">撤帳時間：</h5>
                <ul class="detail-ul">
                  <li>離營日需於中午11:00前撤帳，13:00前離開，以便下一位露友入住。</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="confirmBox-footer">
            <!-- <div class="confirmBox-agree">
              <div class="confirmBox-checkbox">
                <div class="confirmBox-checkbox-label" (click)="agree()">
                  <div class="form-checkbox">
                    <fa-icon *ngIf="isAgree" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  我已閱讀並同意上述訂位須知
                </div>
              </div>
            </div> -->
            <div class="confirmBox-btns">
              <button class="confirmBox-btn confirmBox--cancel" (click)="cancel()">修改訂單</button>
              <button class="confirmBox-btn confirmBox--submit" (click)="nextStep()">下一步</button>
            </div>
          </div>
        </div>

        <!-- detail Step 2-->
        <div class="detail" *ngIf="bookingStep === 1">
          <div class="detail-content">
            <div class="detail-info">
              <div class="bookingStepBlock">
                <ul class="bookingStep">
                  <li class="bookingStep-item">
                    <span class="step-icon is-checked">
                      <fa-icon class="form-checkmark" [icon]="faCheck"></fa-icon>
                    </span>
                    <span class="step-title">選擇日期</span>
                  </li>
                  <li class="bookingStep-item">
                    <span class="step-icon is-checked">
                      <fa-icon class="form-checkmark" [icon]="faCheck"></fa-icon>
                    </span>
                    <span class="step-title">訂位需知</span>
                  </li>
                  <li class="bookingStep-item">
                    <span class="step-icon is-checked">
                    <span>3</span></span> <span class="step-title">完成訂單</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="detail-info">
              <div class="detail-info-box">
                <div class="detail-row row--header">
                  <div class="detail-row-box flex-col">
                    <h3 class="detail-title bullet-text">預訂營位：{{getAreaTitle(props?.order.area)}}</h3>
                    <div *ngIf="props?.order.area === 'camp_a'" class="img-detail" [class.is-a]="props?.order.area === 'camp_a'"></div>
                    <div *ngIf="props?.order.area === 'camp_b'" class="img-detail" [class.is-b]="props?.order.area === 'camp_b'"></div>
                  </div>
                  <div class="detail-row-box flex-col">
                    <div class="detail-box">
                      <div class="detail-text">入住：</div>
                      <div class="detail-text">
                        {{props?.order.start_date}}（{{props?.paymentInfo.dayCheckIn}}） 13:00 後</div>
                    </div>
                    <div class="detail-box">
                      <div class="detail-text">離開：</div>
                      <div class="detail-text">
                        {{props?.order.end_date}}（{{props?.paymentInfo.dayCheckOut}}） 11:00 前</div>
                    </div>
                    <div class="detail-box box--nights">
                      <span class="detail-text">總共入住：{{props?.order.nights}} 晚</span>
                    </div>
                    <div class="detail-footer desktop">
                      <div class="detail-footer-row">
                        <div class="detail-footer-title">
                          價格
                        </div>
                        <div class="detail-footer-price" (click)="isTogglePrice = !isTogglePrice">
                          <div class="detail-footer-text detail-text detail--pre">訂金：NT {{props?.order.prepaid_fee}}</div>
                          <div class="detail-footer-text detail-text">
                            <button class="detail-footer-toggle" [class.is-active]="isTogglePrice"></button>
                            小計金額：NT {{props?.order.total_fee}}</div>
                          <div class="detail-info-box" *ngIf="isTogglePrice">
                            <h3 class="detail-title bullet-text detail--price-title">價格明細</h3>
                            <div class="detail-text detail-flex">
                              <span class="detail-span">總帳數：{{props?.order.tents}} 帳</span>
                              <span>$ {{props?.order.total_fee}}</span>
                            </div>
                            <!-- <div class="detail-text detail-flex">
                              <span>總共入住：{{props?.order[OrderTent.NIGHTS]}} 晚</span>
                              <span>$ {{props?.order[OrderTent.TOTAL_FEE]}}</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="detail-footer-row">
                        <div class="detail-footer-info">*注意事項：如住宿期間有其他服務費用產生將於尾款結清時收取。(例：夜衝、租借裝備等)</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hr"></div>
            <div class="detail-info">
              <div class="detail-footer mobile">
                <div class="detail-footer-row">
                  <div class="detail-footer-title">
                    價格
                  </div>
                  <div class="detail-footer-price" (click)="isTogglePrice = !isTogglePrice">
                    <div class="detail-footer-text detail-text detail--pre">訂金：NT {{props?.order.prepaid_fee}}</div>
                    <div class="detail-footer-text detail-text">
                      <button class="detail-footer-toggle" [class.is-active]="isTogglePrice"></button>
                      小計金額：NT {{props?.order.total_fee}}</div>
                    <div class="detail-info-box" *ngIf="isTogglePrice">
                      <h3 class="detail-title bullet-text detail--price-title">價格明細</h3>
                      <div class="detail-text detail-flex">
                        <span class="detail-span">總帳數：{{props?.order.tents}} 帳</span>
                        <span>$ {{props?.order.total_fee}}</span>
                      </div>
                      <!-- <div class="detail-text detail-flex">
                        <span>總共入住：{{props?.order[OrderTent.NIGHTS]}} 晚</span>
                        <span>$ {{props?.order[OrderTent.TOTAL_FEE]}}</span>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="detail-footer-row">
                  <div class="detail-footer-info">*注意事項：如住宿期間有其他服務費用產生將於尾款結清時收取。(例：夜衝、租借裝備等)</div>
                </div>
              </div>
            </div>
          </div>
          <div class="confirmBox-footer">
            <!-- <div class="confirmBox-agree">
              <div class="confirmBox-checkbox">
                <div class="confirmBox-checkbox-label" (click)="agree()">
                  <div class="form-checkbox">
                    <fa-icon *ngIf="isAgree" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  我已閱讀並同意上述訂位須知
                </div>
              </div>
            </div> -->
            <div class="confirmBox-btns">
              <button class="confirmBox-btn confirmBox--cancel" (click)="cancel()">修改訂單</button>
              <button class="confirmBox-btn" *ngIf="!isSent && !isQuizActive && !isQuizBtnClose" (click)="checkIfRobot()">
                送出訂單
              </button>
              <button *ngIf="!isQuizActive && isQuizBtnClose" class="confirmBox-btn confirmBox--submit" [ngClass]="'gtm-submit-' + props.orderType" (click)="submit(); sent()">
                <span *ngIf="!isSent">送出訂單</span>
                <div class="loading is-confirm" *ngIf="isSent">
                  <div class="dot dot1"></div>
                  <div class="dot dot2"></div>
                  <div class="dot dot3"></div>
                </div>
              </button>
            </div>
          </div>
        </div>
        <!-- 營區位置：{{props?.order[OrderTent.TENT_AREA]}}
        <br>
        訂位人姓名：
        {{props?.order[OrderTent.NAME]}}
        <br>
        訂位人電話：
        {{props?.order[OrderTent.PHONE]}}
        <br>
        訂位人Email：
        {{props?.order[OrderTent.EMAIL]}}
        <br>
        帳數：
        {{props?.order[OrderTent.TENTS]}}
        <br>
        加人數：
        {{props?.order[OrderTent.PEOPLE]}}
        <br>
        匯款帳戶末五碼：
        {{props?.order[OrderTent.FIVE_DIGITS]}} -->
        <!-- <ng-container *ngFor="let msg of props.msg">
          <span [innerHTML]="msg"></span><br />
        </ng-container> -->
      </div>
    </div>
  </div>
</div>
