@import 'component/confirm_order'

table
  border-collapse: collapse
th, td
  border: 1px solid #333c39
.img-detail
  width: 100%
  height: auto
  background-size: contain
  background-repeat: no-repeat
  margin: 1rem 0
  padding-bottom: 35%
  +respond-to('tablet')
    padding-bottom: 65%
  &.is-a
    background-image: url('/assets/img/tent/img_2.jpg')
  &.is-b
    background-image: url('/assets/img/b/img_1.jpg')
