<div class="wrapper">
  <app-header [mode]="'home'"></app-header>
  <!-- <nav class="nav-note">
    <div class="nav-item" [class.is-active]="isActive === 'nightOut'" (click)="onClickScroll('nightOut')">夜衝 & 進退場時間</div>
    <div class="nav-item" [class.is-active]="isActive === 'facility'" (click)="onClickScroll('facility')">園區設備</div>
    <div class="nav-item" [class.is-active]="isActive === 'cancel'" (click)="onClickScroll('cancel')">營位取消</div>
  </nav> -->
  <main class="wrapper-content">
    <section class="section section-pickTent">
      <div class="startDate-header">
        <h2 class="startDate-title h2"><div class="title-line">
          <span>note</span>
          <span></span>
        </div>入住須知</h2>
        <!-- <a class="link-goBack" [routerLink]="['/home']">重新選擇</a> -->
      </div>
      <div class="pickTent-date">
        <div class="startDate-feature-spec">
          <div id="nightOut">
            <br>
            <br>
          </div>
          <h4 class="startDate-feature-spec-title h4">夜衝 & 進退場時間</h4>
          <div class="hr"></div>
          <br>
          <ul class="startDate-feature-spec-list">
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                夜衝請在預訂營位後儘快詢問營主是否有夜衝營位。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                夜衝時間：下午18:00~22:00前入園，安全第一及顧及他人權益，造成不便敬請見諒!
              </div>
            </li>
          </ul>
          <h5 class="h5">進場時間：</h5>
          <ul class="startDate-feature-spec-list">
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                露營日當天：若您預訂的營位前一日有露友搭帳時，您需在下午13:00以後方可紮營，入場前一日可事先 FB Messenger 私訊小幫手聯繫確認。
              </div>
            </li>
            <!-- <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                山中宿屋：下午14:00可入住，中午11:00前退宿。
              </div>
            </li> -->
          </ul>
          <h5 class="h5">撤帳時間：</h5>
          <ul class="startDate-feature-spec-list">
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                離營日需於中午11:00前撤帳，13:00前離開，以便下一位露友入住。
              </div>
            </li>
          </ul>
          <br>
        </div>
      </div>
      <div class="pickTent-date">
        <div class="startDate-feature-spec">
          <h4 class="startDate-feature-spec-title h4" id="facility">園區設備</h4>
          <div class="hr"></div>
          <ul class="startDate-feature-spec-list">
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                山上為山泉水煮沸即可飲用，由於山泉水礦物質含量高故無提供飲水機，如需冷開水請自備。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                露營場地 營區內設有一般垃圾、資源回收、廚餘回收桶，請落實垃圾分類。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">野炊休憩區 營地設有洗菜台、洗碗精，供食材及碗盤杯具洗滌之用，抹布請自備。</div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                衛浴設備 提供冷、熱水、洗髮精、沐浴乳、洗手乳、衛生紙及吹風機。(*為響應環保，一次性浴巾、牙刷，2024 年起將停止供應。)
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                冷藏及冷凍冰箱 營區備有露友公用冷藏冰箱可供食材保鮮，請露友們斟酌備量，盡情野炊歡暢。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                用電110v 禁止使用耗電量高的電器產品如：水/冷氣機、烘被機、電磁爐、電暖爐、電毯、電鍋、氣炸鍋等，以防跳電。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                為維護良好的露營品質，請勿使用大音量的音樂設備以及卡拉ok，謝謝配合。
              </div>
            </li>
          </ul>
          <h4 class="startDate-feature-spec-title h4" id="cancel">退費須知</h4>
          <div class="hr"></div>
          <ul class="startDate-feature-spec-list">
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                <b>2</b>天內取消訂位，訂金不予退費。<br>例：入住日為6/17，6/16取消，不予退費。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                <b>2-7</b>天內取消訂位，退 50% 訂金。<br>例：入住日為6/17，6/11-6/15取消，退 50% 訂金。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                <b>7</b>天前取消訂位，退全額訂金。<br>例：入住日為6/17，6/10以前取消，退全額訂金。
              </div>
            </li>
            <li class="startDate-feature-spec-item bullet-text spec--notice">
              <div class="spec-svg">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
              </div>
              <div class="spec-text">
                已完成訂位者，入場當日或前一日若遇不可抗力之天災(颱風，地震，以南投縣政府公告為主)可申請全額退費。
              </div>
            </li>
          </ul>

        <a class="btn-book gtm-btn-book-note" [routerLink]="['/pick-tent']">立即預訂</a>
        </div>


      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
