
@import 'mixin'
@import 'variables'
@import 'component/start_date'


.wrapper-content
  height: auto
.startDate-header
  height: 100px
  +respond-to('tablet')
    height: 300px
  // +respond-to('tablet')
  //   padding: 17% 17% 15%
  // +respond-to('desktop')
  //   padding: 0 0 0 18rem
.nav-note
  transform: translateX(100%)
  position: fixed
  top: 30px
  right: 0px
  z-index: 100
  margin-left: auto
  display: flex
  flex-flow: column
  text-align: right
  justify-content: space-evenly
  transition: transform .3s ease
  &.is-active
    transform: translateX(0%)
.nav-item
  font-size: 13px
  padding: 6px
  +respond-to('tablet')
    font-size: 18px
  &.is-active
    background-color: #333c39
    color: #d1c5b6

.startDate-title
  +respond-to('tablet')
    padding: 7% 0 0 17%
  +respond-to('desktop')
    padding: 0 0 0 18rem

.section-pickTent
  max-width: 1200px
  margin: 0 auto
  padding: 0 3rem
  +respond-to('tablet')
    padding: 0 6rem
  +respond-to('desktop')
    padding: 0 2rem
.pickTent-date
  +respond-to('tablet')
    padding: 0% 17% 5%
.startDate-feature-spec
  padding: 10% 10% 0 8%
  +respond-to('tablet')
    padding: 0
  +respond-to('desktop')
    padding: 0
    width: 100%
.btn-book
  margin-bottom: 16%
