<div class="dateSelector" *ngIf="allBookedTents && holidays && initHolidays">
  <div class="selectedDate" #inp (click)="showDatePicker();">{{value}}</div>
  <div class="datePicker is-large" *ngIf="isShowPicker" [exceptList]="[inp]" (appClickOutside)="hideDatePicker();" (click)="stopPropagation($event)">
    <div class="datePicker-head">
      <button
        class="btn-datePicker-arrow prev"
        [class.is-disabled]="isDisableMonth(-1)"
        (click)="handleMonth(-1)"><</button>
      <span class="datePicker-title">{{year}}/{{month}}月</span>
      <button
        class="btn-datePicker-arrow next"
        [class.is-disabled]="isDisableMonth(1)"
        (click)="handleMonth(1)">></button>
    </div>
    <div class="datePicker-box">
      <!-- <span class="datePicker-cell cell--week">{{'datePicker.week.su'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.mo'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.tu'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.we'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.th'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.fr'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.sa'}}</span> -->
      <span class="datePicker-cell cell--week">日</span>
      <span class="datePicker-cell cell--week">一</span>
      <span class="datePicker-cell cell--week">二</span>
      <span class="datePicker-cell cell--week">三</span>
      <span class="datePicker-cell cell--week">四</span>
      <span class="datePicker-cell cell--week">五</span>
      <span class="datePicker-cell cell--week">六</span>
      <button
        *ngFor="let pickerDay of pickerDays"
        class="datePicker-cell cell--day"
        [class.is-empty]="pickerDay.date === ''"
        [class.is-disabled]="
          disabledBeforeToday(+pickerDay.timestamp) ||
          isHoliday(+pickerDay.timestamp) ||
          isDayBefore3of2OfficialHolidays(+pickerDay.timestamp) ||
          totalTents - allBookedTents[pickerDay.timestamp] <= 0"
        [disabled]="
          disabledBeforeToday(+pickerDay.timestamp) ||
          isHoliday(+pickerDay.timestamp) ||
          isDayBefore3of2OfficialHolidays(+pickerDay.timestamp) ||
          totalTents - allBookedTents[pickerDay.timestamp] <= 0"
        (click)="changeDay(pickerDay);stopPropagation($event)">
        <!-- span 日期 -->
        <span class="datePicker-cell-date">
          <!-- TODO: 看日曆要不要顯示國定連假字樣 -->
          <span class="datePicker-cell-official" *ngIf="isOfficialHolidays(+pickerDay.timestamp)">
            假
          </span>
          {{pickerDay.date}}</span>
        <!-- span text (限包區) -->
        <span *ngIf="isPrivateRoom(+pickerDay.timestamp)"
          class="datePicker-cell-privateRoom"
          [class.is-disabled]="isHoliday(+pickerDay.timestamp) ||
        totalTents - allBookedTents[pickerDay.timestamp] === 0">(限包區)</span>
        <br>
        <!-- span text 剩x帳 -->
        <span
          class="booked-text"
          *ngIf="
            !isHoliday(+pickerDay.timestamp) &&
            !disabledBeforeToday(+pickerDay.timestamp) &&
            !isDayBefore3of2OfficialHolidays(+pickerDay.timestamp) &&
            totalTents - (allBookedTents[pickerDay.timestamp] ? allBookedTents[pickerDay.timestamp] : 0) > 0">剩
            <span
              *ngIf="allBookedTents[pickerDay.timestamp]"
              class="booked-num">{{totalTents - allBookedTents[pickerDay.timestamp]}}</span>
              <span *ngIf="!allBookedTents[pickerDay.timestamp]" class="booked-num">{{totalTents}}</span>
        </span>
        <span
        class="booked-text is-disabled" *ngIf="!isHoliday(+pickerDay.timestamp) && isDayBefore3of2OfficialHolidays(+pickerDay.timestamp) && (totalTents -  (allBookedTents[pickerDay.timestamp] ? allBookedTents[pickerDay.timestamp] : 0) > 0)">請選<br>前一日</span>

        <!-- 洽營主改的 start -->
        <!-- <span
          class="booked-text"
          *ngIf="
            !isHoliday(+pickerDay.timestamp) &&
            !disabledBeforeToday(+pickerDay.timestamp) &&
            !isOfficialHolidays(+pickerDay.timestamp) &&
            totalTents - allBookedTents[pickerDay.timestamp] !== 0">剩<span
                *ngIf="allBookedTents[pickerDay.timestamp]"
                class="booked-num">{{totalTents - allBookedTents[pickerDay.timestamp]}}</span><span *ngIf="!allBookedTents[pickerDay.timestamp]" class="booked-num">{{totalTents}}</span>
        </span> -->
        <!-- 洽營主改的 end -->

        <!-- <span
          class="booked-text-official"
          *ngIf="
            !disabledBeforeToday(+pickerDay.timestamp) &&
            isOfficialHolidays(+pickerDay.timestamp) &&
            totalTents - allBookedTents[pickerDay.timestamp] !== 0">
            FB<br>
            洽營主
        </span> -->
        <!-- span text 客滿 -->
        <!-- 洽營主改的 start -->
        <!-- <span
          *ngIf="
            (isHoliday(+pickerDay.timestamp) && !disabledBeforeToday(+pickerDay.timestamp) && totalTents - allBookedTents[pickerDay.timestamp] === 0) ||
            (!isOfficialHolidays(+pickerDay.timestamp) && isHoliday(+pickerDay.timestamp) && !disabledBeforeToday(+pickerDay.timestamp) && totalTents - allBookedTents[pickerDay.timestamp] === 0)"
            [class.is-danger]="totalTents - allBookedTents[pickerDay.timestamp] === 0">
          客滿
        </span> -->
        <!-- 洽營主改的 end -->
        <span
          *ngIf="(isDayBefore3of2OfficialHolidays(+pickerDay.timestamp) && (totalTents - allBookedTents[pickerDay.timestamp] === 0 || totalTents - allBookedTents[pickerDay.timestamp] < 0) && !disabledBeforeToday(+pickerDay.timestamp)) ||
          ((totalTents - allBookedTents[pickerDay.timestamp] === 0 || totalTents - allBookedTents[pickerDay.timestamp] < 0) && !disabledBeforeToday(+pickerDay.timestamp)) ||
          (isHoliday(+pickerDay.timestamp) &&
          !disabledBeforeToday(+pickerDay.timestamp))"
          class="is-full"
          [class.is-danger]="totalTents - allBookedTents[pickerDay.timestamp] === 0">
        </span>
        <!-- <span
          class="booked-text"
          *ngIf="
            !pickerDay.disable  &&
            isDayOff(+pickerDay.timestamp)"></span>
        <span
          class="booked-text is-danger"
          *ngIf="
            pickerDay.date !== '' &&
            !pickerDay.disable &&
            !isDayOff(+pickerDay.timestamp) &&
            (!!bookedDate && !isBookedAvailable(+pickerDay.timestamp))">0</span> -->
      </button>
    </div>
  </div>

</div>
