@import 'mixin'
@import 'variables'

.footer
  background: $font-green
  color: $font-brown
  margin-top: auto
.logo
  background-image: url('/assets/img/logo.png')
  background-repeat: no-repeat
  width: 165px
  height: 60px
  display: block
  font-size: 0
  background-size: contain
  &.logo--gold
    background-image: url('/assets/img/logo_gold.png')
    margin: 2.6rem 0 5.2rem
    width: 180px
    height: 65px
.footer-content
  padding: 4em 3em 10rem
  +respond-to('tablet')
    padding: 6em 5em 8em 13em
  +respond-to('desktop')
    padding: 3em 8em 4em 18em
  +respond-to('desktop-xl')
    padding: 7em 17% 8em
.footer-info
  font-size: 1.6rem
  padding-bottom: 2.6rem
  font-weight: 300
  +respond-to('desktop')
    font-size: 2.6rem
  &.info--address
    font-size: 1.8rem
    +respond-to('tablet')
      font-size: 2.6rem
    +respond-to('desktop')
      font-size: 3rem
.footer-copyright
  align-content: center
  display: flex
  box-sizing: content-box
  margin-left: auto
  margin-right: auto
  position: relative
  font-size: 1.6rem
.social-fb
  background-image: url('/assets/img/icon_fb.png')
  background-repeat: no-repeat
  background-size: cover
  display: inline-block
  width: 30px
  height: 30px
  position: absolute
  right: 10%
  bottom: 0
  +respond-to('tablet')
    width: 60px
    height: 60px
