<footer class="footer">
  <div class="footer-content">
    <div class="logo logo--gold"></div>
    <div class="footer-info info--address">
      南投縣國姓鄉大旗村
    </div>
    <div class="footer-info info--tel"><fa-icon [icon]="faMobileAlt"></fa-icon>：0912-253-401</div>
    <div class="footer-info info--tel"><fa-icon [icon]="faPhoneAlt"></fa-icon>：049-2721543</div>
    <div class="footer-info info--email"><fa-icon [icon]="faEnvelope"></fa-icon>：mountainhugtw@gmail.com</div>
    <div class="footer-copyright">
      <span>© 2022 Mountain Hug</span>
      <a href="https://www.facebook.com/MountainHug.com.tw" target="blank"><span class="social-fb"></span></a>
    </div>
  </div>
</footer>
