<div class="dateSelector" *ngIf="!!bookedDate">
  <div class="selectedDate" #inp (click)="showDatePicker();">{{value}}</div>
  <div class="datePicker is-large" *ngIf="isShowPicker" [exceptList]="[inp]" (appClickOutside)="hideDatePicker();" (click)="stopPropagation($event)">
    <div class="datePicker-head">
      <button
        class="btn-datePicker-arrow prev"
        (click)="handleMonth(-1)"><</button>
      <span class="datePicker-title">{{year}}/{{month}}月</span>
      <button
        class="btn-datePicker-arrow next"
        (click)="handleMonth(1)">></button>
    </div>
    <div class="datePicker-box">
      <!-- <span class="datePicker-cell cell--week">{{'datePicker.week.su'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.mo'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.tu'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.we'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.th'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.fr'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.sa'}}</span> -->
      <span class="datePicker-cell cell--week">日</span>
      <span class="datePicker-cell cell--week">一</span>
      <span class="datePicker-cell cell--week">二</span>
      <span class="datePicker-cell cell--week">三</span>
      <span class="datePicker-cell cell--week">四</span>
      <span class="datePicker-cell cell--week">五</span>
      <span class="datePicker-cell cell--week">六</span>
      <button
        *ngFor="let pickerDay of pickerDays"
        class="datePicker-cell cell--day"
        [class.is-empty]="pickerDay.date === ''"
        [class.is-disabled]="
          pickerDay.disable ||
          disabledBeforeToday(+pickerDay.timestamp) ||
          (!!bookedDate && !isBookedAvailable(+pickerDay.timestamp)) ||
          isDayOff(+pickerDay.timestamp)"
        [disabled]="
          pickerDay.disable ||
          disabledBeforeToday(+pickerDay.timestamp) ||
          (!!bookedDate && !isBookedAvailable(+pickerDay.timestamp)) ||
          isDayOff(+pickerDay.timestamp)"
        (click)="changeDay(pickerDay);stopPropagation($event)">{{pickerDay.date}}
        <br>
        <span
          class="booked-text"
          *ngIf="
            pickerDay.date !== '' &&
            !pickerDay.disable &&
            !disabledBeforeToday(+pickerDay.timestamp) &&
            !isDayOff(+pickerDay.timestamp) &&
            (!!bookedDate &&
            isBookedAvailable(+pickerDay.timestamp))">有空位</span>
        <span
          class="booked-text"
          *ngIf="
            !pickerDay.disable  &&
            isDayOff(+pickerDay.timestamp)">未開放</span>
        <span
          class="booked-text is-danger"
          *ngIf="
            pickerDay.date !== '' &&
            !pickerDay.disable &&
            !isDayOff(+pickerDay.timestamp) &&
            (!!bookedDate && !isBookedAvailable(+pickerDay.timestamp))">客滿</span>
      </button>
    </div>
  </div>

</div>
