@import variables
@import mixin

.logo
  background-image: url('/assets/img/logo.png')
  background-repeat: no-repeat
  width: 165px
  height: 60px
  display: block
  font-size: 0
  background-size: contain
  +respond-to('tablet')
    width: 210px
    height: 75px

.header-content
  display: flex
  align-items: center
  background-color: #F5F5F0
  padding: 30px
  +respond-to('tablet')
    min-height: 140px
    padding: 0 6rem 0 3rem

.header-nav
  display: flex
  margin-left: auto
  width: 44px
  height: 44px
  align-items: center
  justify-content: center
  &.mobile
    +respond-to('desktop')
      display: none

.nav-desktop
  margin-left: auto
  display: none
  +respond-to('desktop')
    display: block
.nav-desktop-list
  display: flex
.nav-desktop-link
  font-size: 2.7rem
  font-weight: 300
  padding: 1.3rem 2.8rem
  cursor: pointer
  background-color: #45514d
  height: 6rem
  color: $font-light-brown
.nav-desktop-item:first-child
  margin-right: 30px

.btn-header-nav
  position: relative
  display: block
  width: 24px
  height: 19px
  &.mobile
    +respond-to('desktop')
      display: none

.header-navBar
  display: block
  width: 24px
  height: 1px
  margin: 8px 0 0
  background-color: #333c39
  &:first-child
    margin: 0

.nav
  position: fixed
  top: 0
  right: -100vw
  width: 100vw
  min-height: 100vh
  background: #333c39
  z-index: 10
  transition: right .2s .2s ease
  +respond-to('desktop')
    display: none
  &.is-active
    right: 0
.nav-head
  display: flex
  align-items: center
  padding: 20px
  justify-content: space-between
.nav-body
  padding: 1.2rem 4rem 0 5.3rem
  max-width: 370px
.nav-list
  display: flex
  flex-flow: column
  align-items: flex-start
  height: 76vh
  max-height: 126vw
.nav-link
  width: 100%
  color: #e7e5d7
  font-size: 3.6rem
  font-weight: 300
  line-height: 13vh
.btn-close
  position: relative
  width: 44px
  height: 44px
  display: flex
  justify-content: center
  align-items: center
  &::before,
  &::after
    position: absolute
    display: block
    content: ''
    border-left: 2px solid #e7e5d7
    height: 60%
    margin-left: -2px
  &::before
    transform: rotate(-45deg)
  &::after
    transform: rotate(45deg)

// fixed-header
.fixed-header
  display: none
  position: fixed
  left: 0
  top: 0
  z-index: 999
  height: 100%
  pointer-events: none
  +respond-to('tablet')
    display: flex
.fixed-header-wrapper
  width: 100px
  height: 100vh
  padding: 4em 0 21%
  +respond-to('desktop')
    padding: 4em 0 10%
.fixed-header-text
  position: absolute
  text-transform: uppercase
  transform: rotate(-90deg)
  bottom: 17vh
  width: 11em
  display: none
  transition: color .15s cubic-bezier(.25,.46,.45,.94)
  color: $font-green
  line-height: 1.5
  +respond-to('tablet')
    display: block
    bottom: 12rem
  +respond-to('desktop')
    bottom: 9rem
.fixed-header-plus
  width: 4.4rem
  height: 4.4rem
  position: absolute
  left: 2rem
  top: 44%
  cursor: pointer
  transition: transform .3s ease
  &.is-active
    transform: rotate(45deg)
.plus-line
  position: absolute
  display: inline-block
  background-color: $font-green
  width: 2.3rem
  height: 0.3rem
  border-radius: 0.5rem
  left: 0
  right: 0
  margin: auto
  &:last-child
    transform: rotate(90deg)
    transform-origin: center center
