<header class="header" [class.header--home]="mode === 'home'">
  <div class="header-content">
    <a [routerLink]="['/home']" class="logo-link">
      <h1 class="logo">
        Mountain Hug</h1>
    </a>
    <nav class="nav-desktop">
      <ul class="nav-desktop-list">
        <!-- <li class="nav-desktop-item">
          <a class="nav-desktop-link">營地介紹</a>
        </li> -->
        <li class="nav-desktop-item" *ngIf="mode === 'home'">
          <a class="nav-desktop-link gtm-desktop-nav-link" [routerLink]="['/pick-tent']">
            立即預訂</a>
        </li>
        <li class="nav-desktop-item" *ngIf="mode === 'home'">
          <a class="nav-desktop-link gtm-desktop-nav-link" [routerLink]="['/note']">
            入住須知</a>
        </li>
        <!-- <li class="nav-desktop-item">
          <a class="nav-desktop-link" [routerLink]="['/homestay-start-date']">預訂宿屋</a>
        </li> -->
        <!-- <li class="nav-desktop-item">
          <span class="nav-desktop-link">訂位查詢</span></li> -->
      </ul>
    </nav>
    <button class="header-nav mobile" (click)="openNav()" *ngIf="mode === 'home'">
      <button class="btn-header-nav mobile">
        <span class="header-navBar"></span>
        <span class="header-navBar"></span>
        <span class="header-navBar"></span>
      </button>
    </button>
    <nav class="nav" [class.is-active]="isOpenNav">
      <div class="nav-head">
        <div class="logo"></div>
        <button class="btn-close" (click)="close()"></button>
      </div>
      <div class="nav-body">
        <ul class="nav-list">
          <!-- <li class="nav-item">
            <a class="nav-link">營地介紹</a>
          </li> -->
          <li class="nav-item" *ngIf="mode === 'home'">
            <a class="nav-link gtm-mobile-nav-link" (click)="navTo('/pick-tent')">立即預訂</a>
          </li>
          <li class="nav-item" *ngIf="mode === 'home'">
            <a class="nav-link gtm-mobile-nav-link-note" (click)="navTo('/note')">入住須知</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" (click)="navTo('/homestay-start-date')">預訂宿屋</a>
          </li> -->
          <!-- <li class="nav-item">
            <span class="nav-link">訂位查詢</span></li> -->
        </ul>
      </div>
    </nav>
  </div>
</header>
<header class="fixed-header">
  <div class="fixed-header-wrapper">
    <button class="fixed-header-plus">
      <span class="plus-line"></span>
      <span class="plus-line"></span>
    </button>
    <p class="fixed-header-text">Mountain<br>hug</p>
  </div>
</header>
