
<!-- <div>{{dateStart}}</div>
<div>{{dateLeave}}</div>

<button (click)="changeNights(1)">2d1n</button> |
<button (click)="changeNights(2)">3d2n</button> |
<button (click)="changeNights(3)">4d3n</button> |
Nights: {{nights}}

<div (click)="datePicker.isShowPicker = true; isShowCards = false;">Open</div> -->

<!-- 預訂卡片 -->
<!-- <div (click)="navigateTo(OrderType.CAMP_A)">A left {{countLeftTents(OrderType.CAMP_A, startTS, nights)}}
  <span *ngIf="isPrivateRoom()">private only</span>
</div>
<div (click)="navigateTo(OrderType.CAMP_B)">B left {{countLeftTents(OrderType.CAMP_B, startTS, nights)}}
  <span *ngIf="isPrivateRoom()">private only</span>
</div>
<div>C left {{countLeftTents(OrderType.CAMP_C, startTS, nights)}}
  <span *ngIf="isPrivateRoom()">private only</span>
</div>
<div>D left {{countLeftTents(OrderType.CAMP_D, startTS, nights)}}
  <span *ngIf="isPrivateRoom()">private only</span>
</div>
<div>Inn left {{countLeftTents(OrderType.INN, startTS, nights)}}
  <span *ngIf="isPrivateRoom()">private only</span>
</div> -->


<div class="wrapper" [class.is-notScroll]="elementService.isNotScrollable">
  <app-header></app-header>
  <main class="wrapper-content">
    <section class="section section-pickTent">
      <div class="startDate-header">
        <h2 class="startDate-title h2">
          <div class="title-line">
            <span>book</span>
            <span></span>
          </div>
          開始預訂
        </h2>
      </div>
      <div class="pickTent-date">
        <div class="pickTent-titleInfo" *ngIf="!isShowCards">
          <h3 class="pickTent-title">＊註1：1個月內開放散帳預訂。</h3>
          <h3 class="pickTent-title">＊註2：夜衝在預訂營位後儘快詢問營主是否有夜衝營位。</h3>
          <h3 class="pickTent-title">＊註3：每月1號開放半年後預訂(例：1/1凌晨00:00，開放7月份預訂)</h3>
          <h3 class="pickTent-title">＊注意事項：維護良好露營品質，勿使用大音量音樂設備及卡拉ok。山泉水煮沸即可飲用，如需冷開水請自備。</h3>
        </div>
        <div class="pickTent-date-input" *ngIf="isShowCards">
          <div class="startDate-picker-wrapper">
            <div class="pickTent-date-title label-text">
              入住期間：
            </div>
            <div class="pickTent-date-title label-text">
              <span *ngIf="dateStart">{{dateStart}}({{dayStart}})</span>-<span (click)="isShowPicker = !isShowPicker">{{dateLeave}}
                <span *ngIf="dateStart">({{dayLeave}})</span>
              </span>
            </div>
            <div style="position: absolute; width: 100%; left: 0; right: 0; top: 0;" *ngIf="isShowPicker"></div>
          </div>

          <div class="startDate-picker-wrapper">
            <div class="startDate-picker-toggle">
              <span class="pickTent-date-title label-text">入住天數：</span>
              <div class="startDate-picker-box">
                <button class="btn-startDate-toggle label-text" (click)="toggleNights()">
                  {{ nightsMapping[currentNightsIdx].title }}
                </button>
                <div class="startDate-picker-btns" [class.is-active]="isToggleNights">
                  <ng-container *ngFor="let item of nightsMapping; let i = index;">
                    <ng-container *ngIf="
                      !(displayPrivateRoomNights(dayTSBeforePrivateRoom, item.nights, 2)) &&
                      !(displayPrivateRoomNights(dayTSBeforePrivateRoom, item.nights, 1)) &&
                      !(displayHolidayNights(holidayTSBeforeStartDate, item.nights, 2)) &&
                      !(displayHolidayNights(holidayTSBeforeStartDate, item.nights, 1)) &&
                      !(displayFullNights(dayFullTS, item.nights, 2)) &&
                      !(displayFullNights(dayFullTS, item.nights, 1)) &&
                      !(displayOfficialHolidayNights(officialHolidayTSBeforeStartDate, item.nights, 2)) &&
                      !(displayOfficialHolidayNights(officialHolidayTSBeforeStartDate, item.nights, 1)) &&
                      !(displayFirstDayOfficialHolidayNights(firstDayOfEveryOfficalHolidays, item.nights, 2))
                      ">
                      <button
                        class="btn-startDate-picker"
                        [class.is-active]="currentNightsIdx === i"
                        (click)="changeNights(item.nights, i)">
                        {{item.title}}
                      </button>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <span class="link-goBack"(click)="datePicker.isShowPicker = true; isShowCards = false; changeNights(1, 0)">重新選擇日期</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <h2>系統維護中...</h2> -->
      <app-calendar-date-picker
        #datePicker
        [value]="dateStart"
        (dateChanged)="changeStartDate($event)"
        [minDate]="dateMin"
        [maxDate]="dateMax"
        [allBookedTents]="orderService.allBookedTents"
        [totalTents]="totalTentsAmount"
        [holidays]="holidays"
        [initHolidays]="initHolidays">
      </app-calendar-date-picker>
      <div class="pickTent">
        <div class="pickTent-wrapper">
          <div class="loading" *ngIf="(isLoading && isShowCards) || !initHolidays">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
          </div>
          <div class="pickTentList" *ngIf="isLoadCards && isShowCards">
            <ul class="pickTent-list">
              <!-- 卡片Ａ 五葉松 A區 -->
              <li class="pickTent-item tent_homestay"
              [class.is-enabled]="countLeftTents(OrderType.CAMP_A, startTS, nights) > 0">
                <a class="pickTent-link gtm-booking-a" (click)="navigateTo(OrderType.CAMP_A)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/tent_homestay/img_1.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">{{getAreaTitle(OrderType.CAMP_A)}}
                        <span class="pickTent-info-tents">
                          （剩：{{countLeftTents(OrderType.CAMP_A, startTS, nights) > 0 ? countLeftTents(OrderType.CAMP_A, startTS, nights) : 0}}）
                        </span>
                      </h1>
                      <!-- <h2 class="pickTent-info-desc"></h2> -->
                      <h2 class="pickTent-info-desc">＊4帳可包區</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 獨立淋浴x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 廁所x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 流理台x2
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電源
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                        </ul>
                        <!-- <ul class="pickTent-info-featuresList">
                          <li class="pickTent-info-featuresList">V 熱水洗澡間</li>
                          <li class="pickTent-info-featuresList">V 廁所</li>
                          <li class="pickTent-info-featuresList">V WIFI</li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="countLeftTents(OrderType.CAMP_A, startTS, nights) > 0; else tempTH">
                        <div class="pickTent-tag">可預約<span *ngIf="isPrivateRoom()">(包區限定)</span></div>
                      </ng-container>
                      <ng-template #tempTH>
                        <div class="pickTent-tag tag--d">客滿</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span>
                            ${{FeeType.NORMAL}}
                            <span class="pickTent-price-span">/帳</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="pickTent-info-mobile">
                    <h1 class="pickTent-info-title">大包場</h1>
                    <h2 class="pickTent-info-desc">適合小家庭休閒區域</h2>
                    <div class="hr"></div>
                    <p>帳篷 x 1<br>炊事帳 x 1</p>
                    <div class="pickTent-price-value">$1000/帳</div>
                    <div class="pickTent-price-value">加人數$100/人</div>
                  </div> -->
                </a>
              </li>
              <!-- 卡片B 落羽松 L區 -->
              <li class="pickTent-item" [class.is-enabled]="countLeftTents(OrderType.CAMP_B, startTS, nights) > 0">
                <a class="pickTent-link gtm-booking-b" (click)="navigateTo(OrderType.CAMP_B)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/b/img_6.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">{{getAreaTitle(OrderType.CAMP_B)}}
                        <span class="pickTent-info-tents">
                          （剩：{{countLeftTents(OrderType.CAMP_B, startTS, nights) > 0 ? countLeftTents(OrderType.CAMP_B, startTS, nights) : 0}}）
                        </span>
                      </h1>
                      <!-- <h2 class="pickTent-info-desc">適合小家庭休閒區域</h2> -->
                      <h2 class="pickTent-info-desc">＊5帳可包區</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 獨立淋浴x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 廁所x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 流理台x2
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電源
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                        </ul>
                        <!-- <ul class="pickTent-info-featuresList">
                          <li class="pickTent-info-featuresList">V 熱水洗澡間</li>
                          <li class="pickTent-info-featuresList">V 廁所</li>
                          <li class="pickTent-info-featuresList">V WIFI</li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="countLeftTents(OrderType.CAMP_B, startTS, nights) > 0; else tempTentA1">
                        <div class="pickTent-tag">可預約<span *ngIf="isPrivateRoom()">(包區限定)</span></div>
                      </ng-container>
                      <ng-template #tempTentA1>
                        <div class="pickTent-tag tag--d">客滿</div>
                        <!-- <div class="pickTent-tag tag--d" *ngIf="orderService.isWeekend">未開放</div> -->
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span>
                            ${{FeeType.NORMAL}}
                            <span class="pickTent-price-span">/帳</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <!-- 卡片E 山中宿屋 -->
              <!-- <li class="pickTent-item"
              [class.is-enabled]="countLeftTents(OrderType.INN, startTS, nights) > 0">
              <a class="pickTent-link gtm-booking-inn" (click)="navigateTo(OrderType.INN)">
                <div class="pickTent-thumbnail">
                  <div class="pickTent-thumbnail-img">
                    <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/homestay/img_6.jpg">
                  </div>
                </div>
                <div class="pickTent-content">
                  <div class="pickTent-info">
                    <h1 class="pickTent-info-title">{{getAreaTitle(OrderType.INN)}}
                      <span class="pickTent-info-tents">
                        （剩：{{countLeftTents(OrderType.INN, startTS, nights) > 0 ? countLeftTents(OrderType.INN, startTS, nights) : 0}}）
                      </span>
                    </h1>
                    <div class="hr"></div>
                    <div class="pickTent-info-features">
                      <ul class="pickTent-info-featuresList">
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 免費 WiFi
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 2間套房獨立衛浴
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冷暖空調x3
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 室內拖鞋
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 盥洗用品
                        </li>
                      </ul>
                      <ul class="pickTent-info-featuresList">
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吧檯流理台x1
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電水壺x1
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 餐具
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳平面電視
                        </li>
                        <li class="featuresList-item">
                          <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳沙發
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="pickTent-price">
                    <ng-container *ngIf="countLeftTents(OrderType.INN, startTS, nights) > 0; else tempINN">
                      <div class="pickTent-tag">可預約<span *ngIf="isPrivateRoom()">(包區限定)</span></div>
                    </ng-container>
                    <ng-template #tempINN>
                      <div class="pickTent-tag tag--d">客滿</div>
                    </ng-template>
                    <div>
                      <div class="pickTent-price-value">
                        <span class="pickTent-price-span">平日：</span>
                        <span>
                          $4500
                          <span class="pickTent-price-span">/晚</span>
                        </span>
                      </div>
                      <div class="pickTent-price-value">
                        <span class="pickTent-price-span">假日：</span>
                        <span>
                          $5800
                          <span class="pickTent-price-span">/晚</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>

