<div #wrapper class="wrapper">
  <app-header [mode]="''"></app-header>
  <main class="wrapper-content">
    <!-- Banner -->
    <section class="section section-banner">
      <div class="banner-content">
        <div class="home-slogan">
          <h1 class="home-slogan-heading">
            <span class="home-slogan-span">網站建置中</span>
            <span class="home-slogan-span">敬請期待</span>
            <!-- <span class="home-slogan-span">山的寧靜，山的環抱</span>
            <span class="home-slogan-span">放鬆身心的絕佳露營地</span> -->
          </h1>
        </div>
      </div>
      <div class="banner-img-wrapper">
        <div class="section-deco-9"></div>
        <div class="img-banner"></div>
      </div>
      <div class="section-deco-3"></div>
    </section>

    <!-- 營地故事 -->
    <!-- <section class="section section-intro">
      <div class="intro-content">
        <h2 class="intro-title h2">
          山的抱抱
        </h2>
        <div class="title-line">
          <span>intro</span>
          <span></span>
        </div>
        <ul class="intro-list">
          <li class="intro-list-item">
            <p class="intro-list-item-description p">
              座落在南投國姓鄉的淺山上，擁有自己的一片天空以C字型的山脈懷抱著山的抱抱，它向著國姓大街及北港溪，海拔600公尺山的抱抱總在清晨時欣賞著北港溪變幻的山嵐，原來山是如此疼愛著土地上的每個人，感謝山，珍愛與你相知相惜的每一天。
            </p>
          </li>
        </ul>
      </div>
      <div class="intro-img-wrapper">
        <div class="img-intro"></div>
        <div class="section-deco-7"></div>
      </div>
    </section> -->

    <!-- 露營地介紹 -->
    <!-- <section class="section section-camp">
      <div class="camp-content">
        <div class="camp-head">
          <div class="title-line">
            <span>camp</span>
            <span></span>
          </div>
          <h2 class="camp-title h2">露營場地</h2>
        </div>
        <div class="camp-img-wrapper">
          <div class="img-camp"></div>
          <div class="section-deco-2"></div>
          <div class="section-deco-5"></div>
        </div>
        <div class="homestay-body">
          <div class="section-deco-homestay-2"></div>
          <p class="homestay-description p">
            在仲夏的夜晚帶著沁涼微風拂去酷夏的煩躁，伴著徐徐的涼風悠悠靜靜地入眠，清晨悠悠靜靜的沒有氣笛聲沒有小黑蚊，只有山嵐與蟲鳴鳥叫相伴。
            <br>
            <br>
            <a class="btn-book" [routerLink]="['/pick-tent']">立即預訂</a>
          </p>
        </div>
      </div>
    </section> -->

    <!-- 山中宿屋 -->
    <!-- <section class="section section-homestay">
      <div class="homestay-content">
        <div class="homestay-head">
          <div class="title-line">
            <span>inn</span>
            <span></span>
          </div>
          <h2 class="homestay-title h2">山中宿屋</h2>
        </div>
        <div class="homestay-img-wrapper">
          <div class="img-homestay"></div>
          <div class="section-deco-2"></div>
          <div class="section-deco-8"></div>
        </div>
        <div class="homestay-body">
          <div class="section-deco-homestay-2 "></div>
          <p class="homestay-description p">
            春暖花開，夏夜涼爽深秋楓紅，寒冬不入，待在宿屋裡無論你賴在哪張椅子上，窗外都是綠油油的風景，待著待著就不想動了完全放鬆，完全放空。
            <br><br>
            <a class="btn-book" [routerLink]="['/pick-tent']">立即預訂</a>
          </p>
        </div>
      </div>
    </section> -->

     <!-- 漫步營區 -->
     <!-- <section class="section section-env" #sectionEnv>
      <div class="env-content">
        <div class="env-head">
          <div class="title-line">
            <span>environment</span>
            <span></span>
          </div>
          <h2 class="camp-title h2">漫步營區</h2>
        </div>
        <div class="camp-img-wrapper">
          <div class="img-env"></div>
        </div>
        <div class="env-body">
          <div class="env-row">
            <div class="section-deco-3 env--3"></div>
            <div class="env-info">
              <div class="env-subTitle">001 園內設施 - 1</div>
              <h2 class="env-title">大草坪</h2>
              <p class="env-desc">
                四季皆綠的厚草皮，有廣大的空間讓孩子、寵物盡情奔跑嬉戲，久違的來個團康大地遊戲
              </p>
            </div>
            <div class="env-body-img-wrapper">
              <div class="img-body-env env--1"></div>
            </div>
          </div>
          <div class="env-row row--sec">
            <div class="env-info">
              <div class="env-subTitle">002 園內設施 - 2</div>
              <h2 class="env-title">落羽松</h2>
              <p class="env-desc">
                沿著步道而上，整排的落羽松依傍，場地舒適，除了遊戲空間外更可以悠閒地來個咖啡，席地野餐
              </p>
            </div>
            <div class="env-body-img-wrapper">
              <div class="section-deco-7 deco-7--env"></div>
              <div class="img-body-env env--2"></div>
            </div>
          </div>
          <div class="env-row">
            <div class="env-info">
              <div class="env-subTitle">003 園內設施 - 3</div>
              <h2 class="env-title">景觀步道</h2>
              <p class="env-desc">
                往上行的右側，是整排的楓樹林區，左側則是依序有大草坪區、樟樹區，落羽松區，檸檬樹區，漫步其中就會達到運動效果，身心也得到放鬆
              </p>
            </div>
            <div class="env-body-img-wrapper">
              <div class="img-body-env env--3"></div>
              <div class="section-deco-5 deco-5--env"></div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- 環境導覽 -->
    <!-- <section class="section section-diagram">
      <div class="diagram-content">
        <div class="diagram-head">
          <div class="title-line">
            <span>Map</span>
            <span></span>
          </div>
          <h2 class="diagram-title h2">營區地圖</h2>
        </div>
      </div>
      <div class="img-diagram diagram--desktop-lg"></div>
      <div class="img-diagram diagram--mobile-1"></div>
    </section> -->


    <!-- <section class="section home-category">
      <h1 class="home-category-title">
        Ways to Stay
      </h1>
      <ul class="home-category-list">
        <li class="home-category-list-item">
          <a class="home-category-list-item-tile app-lodging-category-button" [routerLink]="['/homestay-start-date']">
            <div class="home-category-list-item-thumbnail">
              <img src="https://www.campspot.com/assets/img/home-ways-to-stay-lodging-cava-robles-670x447.jpg" alt="Lodging" loading="lazy" class="home-category-list-item-thumbnail-image">
            </div>

            <div class="home-category-list-item-content">
              <h2 class="home-category-list-item-name">
                Cabins &amp; Lodging
              </h2>

              <p class="home-category-list-item-description">
                Find comfort and convenience with a cabin or lodge.
              </p>
            </div>
          </a>
        </li>
        <li class="home-category-list-item">
          <a class="home-category-list-item-tile app-rv-sites-category-button" [routerLink]="['/start-date']">
            <div class="home-category-list-item-thumbnail">
              <img src="https://www.campspot.com/assets/img/home-ways-to-stay-tent-sites.jpg" alt="RV Sites" loading="lazy" class="home-category-list-item-thumbnail-image">
            </div>

            <div class="home-category-list-item-content">
              <h2 class="home-category-list-item-name">
                RV Sites
              </h2>

              <p class="home-category-list-item-description">
                Camp in style from the comfort of your vehicle.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section> -->

    <!-- 交通路線 -->
    <!-- <section class="section section-map">
      <div class="map-head">
        <div class="title-line">
          <span>Traffic</span>
          <span></span>
        </div>
        <h2 class="map-title h2">交通路線</h2>
      </div>
      <div class="map-info">
        <h3 class="map-title-h3 h3">→自行開車建議</h3>
        <p class="map-info-text h3">
          國道三號→至霧峰系統→接國道六號→下國姓交流道→台14線/中正路/中潭公路(往埔里方向行駛)<br><br>
        </p>
        <br>
        <h3 class="map-title-h3 h3">*導航注意事項：</h3>
        <p class="map-info-text h3">
          請先導航至「南投縣國姓鄉大長路681號」，再由福旗巷入口導航至「山的抱抱」
        </p>
      </div>
      <div class="map-iframe">
        <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d14573.370736137009!2d120.85114461271192!3d24.054234037761862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x346920cf91e3238f%3A0x77096f2af8d3238!2zNTQ05Y2X5oqV57ij5ZyL5aeT6YSJ5aSn6ZW36LevNjgx6Jmf!3m2!1d24.0472862!2d120.8631853!4m5!1s0x3469210ff5e628cd%3A0x229d04e0ef40c609!2z5Y2X5oqV57ij5ZyL5aeT6YSJ5bGx55qE5oqx5oqx!3m2!1d24.061182!2d120.8565855!5e0!3m2!1szh-TW!2stw!4v1655009589287!5m2!1szh-TW!2stw&z=18" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section> -->
    <app-footer></app-footer>
  </main>
  <!-- <a class="btn-quickBook" [class.is-show]="showQuickBook" [routerLink]="['/pick-tent']">立即預訂</a> -->
</div>
