@import 'component/confirm_order'

table
  border-collapse: collapse
th, td
  border: 1px solid #333c39
.img-detail
  background-image: url('/assets/img/img_h3_inn.jpg')
  width: 100%
  height: auto
  background-size: contain
  background-repeat: no-repeat
  margin: 1rem 0
  padding-bottom: 35%
  +respond-to('tablet')
    padding-bottom: 65%
