@import 'component/order'
@import 'component/start_date'

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.startDate-deco-square
  &.show
    background-image: url(/assets/img/img_deco_3_o.png)
.img-startDate
  &.show
    background-image: url('/assets/img/img_inn_1.jpg')
    animation: fadeIn 1s ease
.img-pic2
  &.show
    background-image: url('/assets/img/img_inn_2.jpg')
    animation: fadeIn 1s ease

.img-homestay
  &.show
    background-image: url('/assets/img/img_form_1.jpg')
    animation: fadeIn 1s ease


.order-feeInfo-row
  display: flex
  flex-flow: column
  flex: 0 0 50%
  justify-content: space-evenly
  font-size: 1.8rem
  +respond-to('tablet')
    box-shadow: none
    text-align: right
.order-feeInfo-title
  color: $font-light-brown
  &.mobile
    display: block
    +respond-to('tablet')
      display: none
  &.tablet
    display: none
    +respond-to('tablet')
      display: block
  +respond-to('tablet')
    color: $font-green
