<div class="wrapper" [class.is-notScroll]="elementService.isNotScrollable">
  <app-header></app-header>
  <main class="wrapper-content">
    <section class="section section-order">
      <div class="startDate-header">
        <h2 class="startDate-title h2"><div class="title-line">
          <span>inn</span>
          <span></span>
        </div>{{getAreaTitle(OrderType.INN)}}</h2>
        <!-- <a class="link-goBack" [routerLink]="['/home']">重新選擇</a> -->
      </div>
      <div class="startDate-gallery">
        <div class="startDate-gallery-content">
          <div class="startDate-deco-square" appLazyload></div>
          <div class="startDate-img-wrapper">
            <div class="img-startDate" appLazyload></div>
          </div>
        </div>
        <div class="startDate-gallery-content-pic2">
          <div class="startDate-img-wrapper">
            <div class="img-pic2" appLazyload></div>
          </div>
        </div>
      </div>

      <div class="startDate-info">
        <div class="startDate-info-about">
          <p class="startDate-info-p p">
            脫離都市繁忙生活，帶著一顆渴望放鬆的心，貼近自然，體驗露營的樂趣吧！ 宿屋共有兩間雙人房，共用客廳。
          </p>
        </div>
        <div class="startDate-feature">
          <div class="startDate-feature-carousel">
            <div class="buy-gallery">
              <figure class="buy-gallery-figure">
                <!-- <img  *ngIf="isSupportWebp" loading="lazy" [src]="currentWebpGalleryImg" alt="" class="img-buy"> -->
                <!-- <img loading="lazy" [src]="currentGalleryImg" alt="" class="img-buy"> -->
                <div class="img-buy" [style.background-image]="currentGalleryImg"></div>
              </figure>
              <div class="buy-thumbnail flex">
                <!-- <ng-container *ngIf="isSupportWebp; else galleryTemp">
                  <div
                    *ngFor="let imgUrl of webPgallery"
                    class="thumbnail"
                    [class.is-active]="currentWebpGalleryImg === imgUrl"
                    (click)="changeWebpImg(imgUrl)">
                    <img loading="lazy" [src]="imgUrl">
                  </div>
                </ng-container> -->
                <div
                  *ngFor="let imgUrl of gallery"
                  class="thumbnail"
                  [class.is-active]="currentGalleryImg === imgUrl"
                  (click)="changeImg(imgUrl)"
                  [style.background-image]="imgUrl">
                </div>
                <!-- <ng-template #galleryTemp>
                </ng-template> -->
              </div>
            </div>
          </div>
          <div class="startDate-feature-spec">
            <h4 class="startDate-feature-spec-title h4">收費方式</h4>
            <div class="hr"></div>
            <ul class="startDate-feature-spec-list">
              <li class="startDate-feature-spec-item bullet-text">
                平日: 4500元/晚<br>
                假日: 5800元/晚<br>
                加單人床: 500元/床<br>
                <!-- 手作歐式早餐: 150元/客 -->
              </li>
            </ul>
            <h4 class="startDate-feature-spec-title h4">場地設施</h4>
            <div class="hr"></div>
            <ul class="startDate-feature-spec-list spec--flex">
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 免費 WiFi
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 2間套房獨立衛浴
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冷暖空調x3
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 室內拖鞋
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 盥洗用品
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吧檯流理台x1
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電水壺x1
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 餐具
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳平面電視
              </li>
              <li class="startDate-feature-spec-item bullet-text">
                <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳沙發
              </li>
            </ul>
            <h4 class="startDate-feature-spec-title h4">注意事項</h4>
            <div class="hr"></div>
            <ul class="startDate-feature-spec-list">
              <li class="startDate-feature-spec-item bullet-text spec--notice">
                <div class="spec-svg">
                  <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                    <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                  </svg>
                </div>
                <div class="spec-text">
                  若有包區露營則須注意營區內設有一般垃圾、資源回收、廚餘回收桶，請落實垃圾分類。
                </div>
              </li>
              <!-- <li class="startDate-feature-spec-item bullet-text spec--notice">
                <div class="spec-svg">
                  <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                    <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                  </svg>
                </div>
                野炊休憩區 營地設有洗菜台、洗碗精，供食材及碗盤杯具洗滌之用，抹布請自備。
              </li> -->
              <li class="startDate-feature-spec-item bullet-text spec--notice">
                <div class="spec-svg">
                  <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                    <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                  </svg>
                </div>
                <div class="spec-text">
                  衛浴設備 提供冷、熱水、洗髮精、沐浴乳、洗手乳、衛生紙及吹風機。(*為響應環保，一次性浴巾、牙刷、冬天用室內拖鞋 2024 年起將停止供應。)
                </div>
              </li>
              <!-- <li class="startDate-feature-spec-item bullet-text spec--notice">
                <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                  <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                </svg>
                冷藏及冷凍冰箱 營區備有露友公用冷藏冰箱可供食材保鮮，請露友們斟酌備量，盡情野炊歡暢。
              </li> -->
              <li class="startDate-feature-spec-item bullet-text spec--notice">
                <div class="spec-svg">
                  <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                    <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                  </svg>
                </div>
                <div class="spec-text">
                  山上為山泉水煮沸即可飲用，由於山泉水礦物質含量高故無提供飲水機，如需冷開水請自備。
                </div>
              </li>
              <li class="startDate-feature-spec-item bullet-text spec--notice">
                <div class="spec-svg">
                  <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                    <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                  </svg>
                </div>
                <div class="spec-text">
                  用電110v 禁止使用耗電量高的電器產品如：水/冷氣機、烘被機、電磁爐、電暖爐、電毯、電鍋、氣炸鍋等，以防跳電。
                </div>
              </li>
              <li class="startDate-feature-spec-item bullet-text spec--notice">
                <div class="spec-svg">
                  <svg x="0px" y="0px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" width="14" height="14">
                    <path d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36    c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101    c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39 S251.539,157,230,157z"/>
                  </svg>
                </div>
                <div class="spec-text">
                  為維護良好的露營品質，請勿使用大音量的音樂設備以及卡拉ok，謝謝配合。
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="order">
        <div class="order-form">
          <!-- Form -->
          <div class="form-box">
            <h3 class="order-title-h4 h4"><span class="step">></span>填寫預訂資料<a *ngIf="!isLoading" class="link-goBack" [routerLink]="['/pick-tent']">重新選擇日期</a></h3>
            <form class="form-content" [formGroup]="form" (submit)="$event.preventDefault()">
              <div class="form-group">
                <h3 class="form-label label-text">入住日期:
                  <span class="form-label-title">{{ orderService.dateStart }}({{orderService.dayStart}})
                  </span>
                </h3>
              </div>
              <div class="form-group">
                <h3 class="form-label label-text">離開日期:
                  <span class="form-label-title">{{ orderService.dateLeave }}({{orderService.dayLeave}})</span>
                </h3>
              </div>
              <div class="form-group">
                <h3 class="form-label label-text">總共入住:
                  <span class="form-label-title">{{orderService.bookedNights}} 晚</span>
                </h3>
              </div>
              <div class="form-group">
                <h3 class="form-label label-text">住宿方式:
                  <span class="form-label-title">宿屋</span>
                </h3>
              </div>
              <!-- <div class="form-group">
                <label class="form-label label-text">入住人數:
                  <select
                    name=""
                    id=""
                    class="form-select"
                    [(ngModel)]="order.people"
                    (change)="choosePeople(order.people)"
                    formControlName="people">
                    <option *ngFor="let people of peopleRange; let i = index"
                    [selected]="people === order.people"
                    [value]="people">{{people}}</option>
                  </select>
                  位
                </label>
              </div> -->
              <div class="form-group">
                <label class="form-label label-text">大人:
                  <select
                    name=""
                    id=""
                    class="form-select"
                    [(ngModel)]="order.adults"
                    (change)="chooseAdults(order.adults)"
                    formControlName="adults">
                    <option *ngFor="let adult of adultsRange; let i = index"
                    [selected]="adult === order.adults"
                    [value]="adult">{{adult}}</option>
                  </select>
                  位
                </label>
              </div>
              <div class="form-group">
                <label class="form-label label-text">小孩(10歲以下):
                  <select
                    name=""
                    id=""
                    class="form-select"
                    [(ngModel)]="order.children"
                    (change)="chooseChildren(order.children)"
                    formControlName="children">
                      <option *ngFor="let child of childrenRange" [value]="child"
                      [selected]="child === order.children">{{child}}</option>
                  </select>
                  位
                </label>
              </div>
              <div class="form-group">
                <label class="form-label label-text">加單人床:
                  <!-- <div class="form-checkbox ckb--bed" (click)="addBed()">
                    <fa-icon *ngIf="order.addBed" class="form-checkmark"[icon]="faCheck"></fa-icon>
                  </div> -->
                  <select
                    name=""
                    id=""
                    class="form-select"
                    [(ngModel)]="order.add_bed"
                    formControlName="add_bed">
                      <option *ngFor="let bed of addBedRange" [value]="bed"
                      [selected]="bed === order.add_bed">{{bed}}</option>
                  </select>
                  張
                </label>
              </div>
              <!-- <div class="form-group">
                <label class="form-label label-text">附早餐:
                  <select
                    name=""
                    id=""
                    class="form-select"
                    [(ngModel)]="order.addBreakfast"
                    formControlName="addBreakfast">
                      <option *ngFor="let meal of addBreakfastRange" [value]="meal"
                      [selected]="meal === order.addBreakfast">{{meal}}</option>
                  </select>
                  份
                </label>
              </div> -->
              <div class="form-group">
                <label class="form-label label-text">姓名:</label>
                <input
                  type="text"
                  class="form-input"
                  formControlName="name"
                  [ngClass]="{
                    'is-danger': message && message['name']
                  }"
                  required>
                  <span class="form-invalidMsg" *ngIf="message && message['name']">
                    {{ message['name'] }}
                  </span>
              </div>
              <div class="form-group">
                <label class="form-label label-text">聯絡電話:</label>
                <input
                  maxlength="10"
                  type="tel"
                  class="form-input"
                  formControlName="phone"
                  [ngClass]="{
                    'is-danger': message && message['phone']
                  }"
                  required>
                  <span class="form-invalidMsg" *ngIf="message && message['phone']">
                    {{ message['phone'] }}
                  </span>
              </div>
              <div class="form-group">
                <label class="form-label label-text">Email:</label>
                <input
                  type="email"
                  class="form-input"
                  formControlName="email"
                  [ngClass]="{
                    'is-danger': message && message['email']
                  }"
                  required>
                  <span class="form-invalidMsg" *ngIf="message && message['email']">
                    {{ message['email'] }}
                  </span>
              </div>
              <!-- <div class="form-group">
                <label class="form-label label-text">夜晚</label>
                <input
                  type="number"
                  class="form-input"
                  formControlName="nights"
                  [ngModel]="order.nights"
                  disabled
                  required>
              </div> -->

              <!-- <div class="form-group">
                <label class="form-label label-text">匯款帳號末5碼: <div class="form-label-span">(說明：完成預訂後會在通知信裡提供匯款資訊，為了方便確認，請預先提供匯款帳號末五碼)</div></label>
                <input
                  maxlength="5"
                  type="text"
                  class="form-input"
                  formControlName="five_digits"
                  [ngClass]="{
                    'is-danger': message && message['five_digits']
                  }"
                  required>
                  <span class="form-invalidMsg" *ngIf="message && message['five_digits']">
                    {{ message['five_digits'] }}
                  </span>
              </div> -->
              <!-- <div class="form-group">
                <label class="form-label label-text">其他需求說明:</label>
                <input
                  type="text"
                  class="form-input"
                  formControlName="request">
              </div> -->
              <!-- <div class="form-group">
                <label class="form-label h3">聯繫電話</label>
                <input
                  type="tel"
                  class="form-input"≥\
                  required>
              </div>
              <div class="form-group">
                <label class="form-label h3">Email</label>
                <input
                  #email
                  type="email"
                  class="form-input"
                  required>
              </div>
              <div class="form-group">
                <label class="form-label h3">內容</label>
                <textarea
                  class="form-textarea"
                  required></textarea>
              </div> -->

              <!-- 有 disabled 功能的 button -->
              <!-- <button type="submit" class="btn btn-submit btn--default" [disabled]="!form?.valid">Submit</button> -->
              <div class="order-feeInfo">
                <div class="order-feeInfo-row">
                  <div class="order-feeInfo-title label-text mobile">
                    <!-- 價格 -->
                    小計金額<br>$ {{this.totalFee()}}
                  </div>
                  <div class="order-feeInfo-title label-text tablet">
                    小計金額：NT {{this.totalFee()}}
                  </div>
                </div>
                <div class="order-feeInfo-row">
                  <button type="submit" class="btn btn-submit btn--default submit--border" [class.is-disabled]="!form?.valid || isLoading" [disabled]="!form?.valid || isLoading" (click)="beforeSubmitCheck()">
                    <span *ngIf="!isLoading">下一步</span>
                    <div class="loading is-order" *ngIf="isLoading">
                      <div class="dot dot1"></div>
                      <div class="dot dot2"></div>
                      <div class="dot dot3"></div>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!-- detail -->
          <div class="homestay-img-wrapper">
            <div class="img-homestay" appLazyload></div>
            <div class="section-deco-5"></div>
          </div>
          <!-- <div class="detail">
            <div class="detail-content">
              <div class="detail-header">
                <h3 class="detail-title bullet-text">您的宿屋訂位資訊</h3>
                <div class="detail-row">
                  <div class="detail-box">
                    <div class="detail-text">入住日期</div>
                    <div class="detail-text">{{dateCheckIn}}（{{dayCheckIn}}）</div>
                    <div class="detail-text">13:00 後</div>
                  </div>
                  <div class="detail-box">
                    <div class="detail-text">離開日期</div>
                    <div class="detail-text">{{dateLeave}}（{{dayCheckOut}}）</div>
                    <div class="detail-text">11:00 前</div>
                  </div>
                </div>
                <div class="hr"></div>
                <div class="detail-nights">
                  <div class="detail-text">大人：{{order.adults}} 位</div>
                  <div class="detail-text">小孩：{{order.children}} 位</div>
                  <div class="detail-text">總共入住：{{order.nights}} 晚</div>
                </div>
              </div>
              <div class="detail-footer">
                <div class="detail-footer-title">
                  價格
                </div>
                <div class="detail-footer-price">
                  <div class="detail-footer-text detail-text">訂金：{{prePaidFee}} 元</div>
                  <div class="detail-footer-text detail-text">總金額：{{totalFee}} 元</div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="order-fee">費用: {{totalFee}}</div>
        <div class="order-fee">訂金: {{prePaidFee}}</div> -->
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>

<!-- <div>費用: {{fee}}</div>
<div>帳數:{{order.tents}}</div>
<div>人數:{{order.people}}</div> -->
