<div class="wrapper" [class.is-notScroll]="elementService.isNotScrollable">
  <app-header></app-header>
  <main class="wrapper-content">
    <section class="section section-pickTent">
      <div class="startDate-header">
        <h2 class="startDate-title h2"><div class="title-line">
          <span>book</span>
          <span></span>
        </div>開始預訂</h2>
        <!-- <a class="link-goBack" [routerLink]="['/home']">重新選擇</a> -->
      </div>
      <div class="pickTent-date">
        <div class="pickTent-titleInfo">
          <h2 class="pickTent-title">＊註1：週五~週一及國定連假為假日。</h2>
          <h2 class="pickTent-title">＊註2：週末預訂以包區為主(A1+A2)，如人數不足以包區的，僅有一兩帳之客人，我們提供該日期的前一個月內開放預訂，請私訊營主協助訂位。</h2>
        </div>
        <div class="pickTent-date-input">
          <div class="pickTent-date-title label-text">
            入住日期：
            <span class="pickTent-date-underline" (click)="isShowPicker = !isShowPicker">{{dateStart}}
              <span *ngIf="dateStart">({{dayStart}})</span>
            </span>
          </div>
          <div style="position: absolute; width: 100%; left: 0; right: 0; top: 0;" *ngIf="isShowPicker">
            <app-default-date-picker
              #datePicker
              [value]="dateStart"
              (dateChanged)="changeStartDate($event)"
              (onShowPicker)="togglePicker($event)"
              [bookedDate]="orderService.bookedNightsTS"
              [minDate]="dateMin"
              [maxDate]="dateMax"
              [isTypeStart]="true"
              [isOrder]="false">
            </app-default-date-picker>
          </div>
          <!-- - 離開：{{this.dateLeave}} -->
          <div class="startDate-picker-wrapper">
            <div class="startDate-picker-toggle">
              <span class="label-text">入住天數：</span>
              <button class="btn-startDate-toggle label-text" (click)="toggleNights()">
                {{ nightsMapping[currentNightsIdx].title }}
              </button>
              <!-- <button class="startDate-picker-map">場地配置圖</button> -->
            </div>
            <div class="startDate-picker-btns" [class.is-active]="isToggleNights">
              <button
                class="btn-startDate-picker"
                [class.is-active]="currentNightsIdx === i"
                *ngFor="let item of nightsMapping; let i = index;"
                (click)="pickNights(item.nights, i)">
                {{item.title}}
              </button>
            </div>
          </div>
          <button class="btn-send" (click)="search();" [class.is-disabled]="!dateStart || orderService.isLoading"
          [disabled]="!dateStart || orderService.isLoading">查詢空位</button>
        </div>


        <!-- <app-default-date-picker
          [value]="dateLeave"
          (dateChanged)="changeLeaveDate($event)"
          [bookedDate]="bookedDate"
          [minDate]="dateMin"
          [maxDate]="dateMax"
          [isTypeStart]="true"
          [isOrder]="false">
        </app-default-date-picker> -->
      </div>
      <div class="pickTent">
        <div class="pickTent-wrapper">
          <div class="loading" *ngIf="orderService.isLoading">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
          </div>
          <div class="hr"></div>
          <div class="pickTentList">
            <div class="pickTentList-empty label-text" *ngIf="orderService.resData && !orderService.isLoading"><span class="step step--thanks">></span>您選擇了 {{tempDate.dateStart}}({{tempDate.dayStart}}) - {{tempDate.dateLeave}}({{tempDate.dayLeave}})，共{{ tempDate.nightsTitle }}</div>
            <div class="pickTentList-empty" *ngIf="orderService.isEmpty && !orderService.isLoading">
              目前無空位，請選擇其他日期
            </div>
            <ul class="pickTent-list" *ngIf="orderService.resData">
              <!-- 大包場 -->
              <!-- <li class="pickTent-item tent_homestay" *ngIf="orderService.resData"
              [class.is-enabled]="orderService.isBookedAvailable[OrderType.TENT_HOMESTAY] && !orderService.hasTue">
                <a class="pickTent-link gtm-pickTent-campInn" (click)="navigateTo(OrderType.TENT_HOMESTAY, '', orderService.isBookedAvailable[OrderType.TENT_HOMESTAY] && !orderService.hasTue)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/tent_homestay/img_1.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">宿屋+A營區 (大包場)</h1>
                      <h2 class="pickTent-info-desc">＊宿屋上限 6 人，A營區上限 5 帳</h2>
                      <h2 class="pickTent-info-desc">＊宿屋為 2 間雙人房</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 免費 WiFi
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 2間套房獨立衛浴
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冷暖空調x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 室內拖鞋
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 盥洗用品
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吧檯流理台x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電水壺x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 餐具
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳平面電視
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳沙發
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="orderService.isBookedAvailable[OrderType.TENT_HOMESTAY] && !orderService.hasTue; else tempTH">
                        <div class="pickTent-tag">可預約</div>
                      </ng-container>
                      <ng-template #tempTH>
                        <div class="pickTent-tag tag--d">已預訂</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">平日：</span>
                          <span>
                            $8000
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">假日：</span>
                          <span>
                            $10000
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li> -->
              <!-- 小包區 -->
              <!-- <li class="pickTent-item tent_homestay" *ngIf="orderService.resData"
              [class.is-enabled]="orderService.isBookedAvailable[OrderType.TENT_A1_HOMESTAY] && !orderService.hasTue">
                <a class="pickTent-link gtm-pickTent-smallCampInn" (click)="navigateTo(OrderType.TENT_A1_HOMESTAY, '', orderService.isBookedAvailable[OrderType.TENT_A1_HOMESTAY] && !orderService.hasTue)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/small_tent_homestay/img_1.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">宿屋+A1營區(小包區)</h1>
                      <h2 class="pickTent-info-desc">＊宿屋上限 6 人，A1營區上限 3 帳</h2>
                      <h2 class="pickTent-info-desc">＊宿屋為 2 間雙人房</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 免費 WiFi
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 2間套房獨立衛浴
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冷暖空調x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 室內拖鞋
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 盥洗用品
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吧檯流理台x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電水壺x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 餐具
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳平面電視
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳沙發
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="orderService.isBookedAvailable[OrderType.TENT_A1_HOMESTAY] && !orderService.hasTue; else tempTA1H">
                        <div class="pickTent-tag">可預約</div>
                      </ng-container>
                      <ng-template #tempTA1H>
                        <div class="pickTent-tag tag--d">已預訂</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">平日：</span>
                          <span>
                            $6100
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">假日：</span>
                          <span>
                            $7800
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li> -->
              <!-- 山中宿屋 -->
              <!-- <li class="pickTent-item"
                [class.is-enabled]="
                orderService.isBookedAvailable[OrderType.HOMESTAY] && !orderService.hasTue">
                <a class="pickTent-link gtm-pickTent-inn" (click)="navigateTo(OrderType.HOMESTAY, '', orderService.isBookedAvailable[OrderType.HOMESTAY] && !orderService.hasTue)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/homestay/img_6.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">山中宿屋</h1>
                      <h2 class="pickTent-info-desc">＊宿屋上限 6 人</h2>
                      <h2 class="pickTent-info-desc">＊宿屋為 2 間雙人房</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 免費 WiFi
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 2間套房獨立衛浴
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冷暖空調x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 室內拖鞋
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 盥洗用品
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吧檯流理台x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電水壺x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 餐具
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳平面電視
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 客廳沙發
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="orderService.isBookedAvailable[OrderType.HOMESTAY] && !orderService.hasTue; else tempH">
                        <div class="pickTent-tag">可預約</div>
                      </ng-container>
                      <ng-template #tempH>
                        <div class="pickTent-tag tag--d">已預訂</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">平日：</span>
                          <span>
                            $4500
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">假日：</span>
                          <span>
                            $5800
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li> -->
              <!-- A包區 -->
              <li class="pickTent-item"
              [class.is-enabled]="
              orderService.isBookedAvailable[OrderType.TENT_A] && !orderService.hasTue">
                <a class="pickTent-link gtm-pickTent-campA" (click)="navigateTo(OrderType.TENT, 'A', orderService.isBookedAvailable[OrderType.TENT_A] && !orderService.hasTue)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/tent/img_1.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">A營區包場</h1>
                      <!-- <h2 class="pickTent-info-desc">適合小家庭休閒區域</h2> -->
                      <h2 class="pickTent-info-desc">＊4帳即可包場</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 獨立淋浴x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 廁所x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 流理台x2
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電源
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                        </ul>
                        <!-- <ul class="pickTent-info-featuresList">
                          <li class="pickTent-info-featuresList">V 熱水洗澡間</li>
                          <li class="pickTent-info-featuresList">V 廁所</li>
                          <li class="pickTent-info-featuresList">V WIFI</li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="orderService.isBookedAvailable[OrderType.TENT_A] && !orderService.hasTue; else tempTentA">
                        <div class="pickTent-tag">可預約</div>
                      </ng-container>
                      <ng-template #tempTentA>
                        <div class="pickTent-tag tag--d">已預訂</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">平日：</span>
                          <span>
                            $3200
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">假日：</span>
                          <span>
                            $4000
                            <span class="pickTent-price-span">/晚</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <!-- A1區 -->
              <li class="pickTent-item" [class.is-enabled]="orderService.isBookedAvailable[OrderType.TENT_A1] && !orderService.hasTue">
                <a class="pickTent-link gtm-pickTent-campA1" (click)="navigateTo(OrderType.TENT, 'A1', orderService.isBookedAvailable[OrderType.TENT_A1] && !orderService.hasTue)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/tent/img_2.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">A1營區</h1>
                      <!-- <h2 class="pickTent-info-desc">適合小家庭休閒區域</h2> -->
                      <h2 class="pickTent-info-desc">＊可容納2~3帳</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 獨立淋浴x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 廁所x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 流理台x2
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電源
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                        </ul>
                        <!-- <ul class="pickTent-info-featuresList">
                          <li class="pickTent-info-featuresList">V 熱水洗澡間</li>
                          <li class="pickTent-info-featuresList">V 廁所</li>
                          <li class="pickTent-info-featuresList">V WIFI</li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="orderService.isBookedAvailable[OrderType.TENT_A1] && !orderService.hasTue; else tempTentA1">
                        <div class="pickTent-tag">可預約</div>
                      </ng-container>
                      <ng-template #tempTentA1>
                        <div class="pickTent-tag tag--d" *ngIf="!orderService.isWeekend">已預訂</div>
                        <div class="pickTent-tag tag--d" *ngIf="orderService.isWeekend">未開放</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">假日：</span>
                          <span>
                            $1000
                            <span class="pickTent-price-span">/帳</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <!-- A2區 -->
              <li class="pickTent-item" [class.is-enabled]="orderService.isBookedAvailable[OrderType.TENT_A2] && !orderService.hasTue">
                <a class="pickTent-link gtm-pickTent-campA2" (click)="navigateTo(OrderType.TENT, 'A2', orderService.isBookedAvailable[OrderType.TENT_A2] && !orderService.hasTue)">
                  <div class="pickTent-thumbnail">
                    <div class="pickTent-thumbnail-img">
                      <img alt="image" loading="lazy" fallbackimage="/assets/img/no-image-available.svg" class="thumbnail-carousel-image" tabindex="-1" src="/assets/img/tent/img_3.jpg">
                    </div>
                  </div>
                  <div class="pickTent-content">
                    <div class="pickTent-info">
                      <h1 class="pickTent-info-title">A2營區</h1>
                      <!-- <h2 class="pickTent-info-desc">適合小家庭休閒區域</h2> -->
                      <h2 class="pickTent-info-desc">＊可容納1~2帳</h2>
                      <div class="hr"></div>
                      <div class="pickTent-info-features">
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 獨立淋浴x2
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 廁所x3
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 流理台x2
                          </li>
                        </ul>
                        <ul class="pickTent-info-featuresList">
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 冰箱(可冷凍)x1
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 電源
                          </li>
                          <li class="featuresList-item">
                            <svg class="bk-icon -streamline-checkmark" fill="" size="small" width="14" height="14" viewBox="0 0 128 128"><path d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z"></path></svg> 吹風機x2
                          </li>
                        </ul>
                        <!-- <ul class="pickTent-info-featuresList">
                          <li class="pickTent-info-featuresList">V 熱水洗澡間</li>
                          <li class="pickTent-info-featuresList">V 廁所</li>
                          <li class="pickTent-info-featuresList">V WIFI</li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="pickTent-price">
                      <ng-container *ngIf="orderService.isBookedAvailable[OrderType.TENT_A2] && !orderService.hasTue; else tempTentA2">
                        <div class="pickTent-tag">可預約</div>
                      </ng-container>
                      <ng-template #tempTentA2>
                        <div class="pickTent-tag tag--d" *ngIf="!orderService.isWeekend">已預訂</div>
                        <div class="pickTent-tag tag--d" *ngIf="orderService.isWeekend">未開放</div>
                      </ng-template>
                      <div>
                        <div class="pickTent-price-value">
                          <span class="pickTent-price-span">假日：</span>
                          <span>
                            $1000
                            <span class="pickTent-price-span">/帳</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
