
@import 'mixin'
@import 'variables'


.wrapper-content
  height: auto
.startDate-header
  // +respond-to('tablet')
  //   padding: 17% 17% 15%
  // +respond-to('desktop')
  //   padding: 0 0 0 18rem
.section-pickTent
  max-width: 1200px
  margin: 0 auto
  padding: 0 3rem
  +respond-to('tablet')
    padding: 0 6rem
  +respond-to('desktop')
    padding: 0 2rem
.pickTent
  position: relative
  display: flex
  flex-flow: column
  min-height: 50vh
  margin-top: 30px
  +respond-to('tablet')
    min-height: 70vh
.pickTent-content
  display: flex
  width: 100%
  flex-flow: column
  color: $font-green
  +respond-to('tablet')
    flex-flow: row
.pickTent-tag
  position: absolute
  right: 0
  left: 0
  bottom: 0
  padding: 6px 10px
  border-radius: 4px
  background-color: green
  color: #fff
  z-index: 1
  font-size: 1.5rem
  +respond-to('tablet')
    font-size: 1.8rem
    top: 22px
    right: 24px
    bottom: auto
    left: auto
  &.tag--d
    background-color: grey
.pickTent-titleInfo
  margin-bottom: 20px
  +respond-to('desktop')
    margin-bottom: 40px
.pickTent-title
  margin: 20px 0
  color: #333c39
  font-size: 1.8rem
  line-height: 1.12
  font-weight: 300
  letter-spacing: 0.2rem
  +respond-to('tablet')
    font-size: 2rem
.pickTent-date
  margin: 60px 0 20px
.pickTent-date-input
  position: relative
  display: flex
  flex-flow: column
  align-items: flex-start
  width: 100%
  height: 200px
  justify-content: space-evenly
  +respond-to('desktop')
    height: auto
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
.pickTent-date-title
  white-space: nowrap
.pickTentList
  display: flex
  opacity: 1
  flex-flow: column
  &.is-hide
    opacity: 0
.pickTent-list
  width: 100%
  display: flex
  flex-flow: column
.pickTent-item
  position: relative
  display: block
  margin-bottom: 24px
  background: #fff
  border-radius: 6px
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 1px 3px 1px rgb(0 0 0 / 12%)
  cursor: pointer
  justify-content: space-between
  min-height: 220px
  transition: box-shadow .1s ease-in-out
  width: 100%
  cursor: not-allowed
  order: 5
  transition: box-shadow .3s ease
  +respond-to('desktop')
    margin-bottom: 40px
  &::before
    +pos($p: absolute, $l: 0, $r: 0, $t: 0, $b: 0)
    width: 100%
    height: 100%
    content: ""
    opacity: 0.8
    background-color: #fefefe
    z-index: 1
  &.is-enabled
    cursor: pointer
    order: 1
    &::before
      pointer-events: none
      background: transparent
  +respond-to('desktop')
    &.is-enabled
      &:hover
        box-shadow: 0 2px 3px rgb(0 0 0 / 8%), 0 1px 3px 2px rgb(0 0 0 / 30%)
.pickTent-link
  display: block
  width: 100%
  min-height: 220px
  +respond-to('desktop')
    display: flex
    min-height: 360px
.pickTent-thumbnail
  border-radius: 6px 6px 0 0
  display: flex
  position: relative
  overflow: hidden
  +respond-to('tablet')
    border-radius: 6px 0 0 6px
.pickTent-thumbnail-img
  margin: 0
  padding-bottom: 65%
  width: 100%
  -webkit-mask-image: -webkit-radial-gradient(#fff,#000)
  +respond-to('desktop')
    width: 540px
    // -webkit-mask-image: -webkit-radial-gradient(#fff,#000)
.thumbnail-carousel-image
  height: 100%
  object-fit: cover
  position: absolute
.pickTent-info
  flex-grow: 1
  padding: 22px 24px
  font-weight: 400
  +respond-to('tablet')
    flex: 0 0 55%
  +respond-to('desktop-lg')
    flex: 0 0 65%
.pickTent-info-title
  font-size: 2rem
  margin-bottom: 30px
  font-weight: 500
  +respond-to('tablet')
    font-size: 2.2rem
  +respond-to('desktop')
    font-size: 2.8rem
.pickTent-info-desc
  font-size: 1.4rem
  margin-bottom: 12px
  font-weight: 400
  +respond-to('tablet')
    margin-bottom: 18px
    font-size: 1.8rem
  +respond-to('desktop')
    font-size: 2rem
.pickTent-price
  position: relative
  border-left: 1px solid #ddd
  color: #000
  flex-direction: column
  flex-shrink: 0
  font-size: .9375rem
  justify-content: center
  text-align: center
  white-space: nowrap
  width: 100%
  display: flex
  padding: 0 24px 30px
  align-items: flex-end
  +respond-to('tablet')
    padding: 0
    align-items: center
    flex: 0 0 45%
  +respond-to('desktop-lg')
    flex: 0 0 35%
.pickTent-price-value
  display: flex
  justify-content: space-between
  font-size: 1.8rem
  align-items: center
  margin-bottom: 12px
  +respond-to('tablet')
    font-size: 2.4rem
.pickTent-price-span
  font-size: 1.3rem
  +respond-to('tablet')
    font-size: 1.4rem
.pickTent-info-features
  display: flex
  padding: 15px 0 10px
.pickTent-info-featuresList
  +fs($fz: 1.3rem)
  +respond-to('tablet')
    +fs($fz: 1.5rem)
  +respond-to('desktop')
    +fs($fz: 1.6rem)
.featuresList-item
  margin: 0px 15px 10px 0
  +respond-to('desktop')
    margin: 0px 30px 15px 0
.pickTent-date-underline
  border-bottom: 1px solid $font-green
  min-width: 180px
  display: inline-block
  vertical-align: text-bottom
  text-align: center
  height: 22px
  +respond-to('tablet')
    height: 32px

.startDate-picker-wrapper
  position: relative
  +respond-to('desktop')
    margin-left: 30px

.startDate-picker-btns
  position: absolute
  left: 37%
  max-width: 300px
  top: 40px
  flex-flow: column nowrap
  justify-content: space-between
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%)
  display: none
  z-index: 3
  +respond-to('tablet')
    left: 43%
  &.is-active
    display: block
  +respond-to('desktop')
    flex-flow: row nowrap
.btn-startDate-toggle
  height: 31px
  font-size: 1.8rem
  letter-spacing: 0.2em
  line-height: 1.5rem
  padding: 0 50px 0 40px
  cursor: pointer
  position: relative
  min-width: 180px
  // background-color: $font-green
  color: $font-green
  text-align: center
  border-bottom: 1px solid $font-green
  +respond-to('tablet')
    font-size: 2.8rem
    max-width: 300px
  &:after
    content: ''
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)
    width: 0
    height: 0
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    border-top: 8px solid $font-green
.startDate-picker-toggle
  white-space: nowrap
.btn-startDate-picker
  height: 44px
  font-size: 1.8rem
  letter-spacing: 0.2em
  line-height: 1.5
  border-bottom: 0.1rem solid #eee
  cursor: pointer
  width: 100%
  text-align: left
  background: #fff
  padding: 6px 0 6px 46px
  &.is-active
    background-color: $font-green
    color: $font-light-brown
  +respond-to('tablet')
    padding: 6px 0 6px 41px
    font-size: 2.8rem
    height: 56px
  +respond-to('desktop')
    &:hover
      background-color: $font-green
      color: $font-light-brown

.btn-send
  +size($w: 98%, $h: 4.6rem)
  white-space: nowrap
  top: 0px
  // border-radius: 4px
  position: relative
  border: none
  background: none
  font-family: 'Roboto', sans-serif
  transition: 0.1s all ease
  font-weight: 300
  box-shadow: 0px 0px 0px 0px #B8B8B8
  background-color: $font-green
  color: $font-light-brown
  cursor: pointer
  border-bottom: 1px solid #101312
  letter-spacing: 1.2px
  display: flex
  align-items: center
  justify-content: center
  font-size : 2rem
  // margin-top: 16%
  // +respond-to('tablet')
  //   font-size : 3.2rem
  //   height: 7rem
  //   margin-top: 8%
  //   max-width: 440px
  //   &:hover
  //     background-color: #45514d
  //     top: -2px
  //     border-bottom: 4px solid #38413e
  //     box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%)
  //   &:active
  //     top: 0px
  //     border: 1px solid #38413e
  //     background-color: #45514d
  //     box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25)
  &.is-disabled
    color: #999
    background-color: #ccc
    border-bottom: 1px solid #ccc
    cursor: not-allowed
  +respond-to('desktop')
    margin-left: 30px
    &:hover
      background-color: #45514d
      top: -2px
      border-bottom: 4px solid #38413e
      box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%)
    &:active
      top: 0px
      border: 1px solid #38413e
      background-color: #45514d
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25)
    &.is-disabled
      background-color: #ccc
      color:#666
      border-bottom: 1px solid #ccc
      cursor: not-allowed
      &:active,
      &:hover
        top: 0
        background-color: #ccc
        color:#666
        border-bottom: 1px solid #ccc
        box-shadow: none
.pickTentList-empty
  font-size: 1.8rem
  margin: 20px 0
  +respond-to('tablet')
    font-size: 2.8rem
    margin: 30px 0
