@import 'mixin'
@import 'variables'

.confirmBox-component
  +size($w: 100%, $h: 100%)
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: #00000099
  z-index: 10

.confirmBox
  +size($w: 100vw, $h: 100%)
  // +size($w: 85vw, $h: 75vh)
  // max-height: 75vh
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  margin: auto

.confirmBox-header
  +fs($fz: 1.6rem, $c: $font-pink, $lh: 42px)
  +size($h: 42px)
  +pos($p: relative)
  background-color: $font-green
  text-align: center
  text-transform: capitalize
  +respond-to('desktop')
    font-size: 2.6rem
    height: 70px
    line-height: 70px
.confirmBox-body
  +size($w: 100%, $h: 100%)
  +pos($p: relative)
  // min-height: 100px
  // height: 70%
  border-radius: 0 0 5px 5px
  background-color: #eeeeee
  // +respond-to('desktop')
  //   +size($w: 100%, $h: calc(100% - 70px))
  // &.is-confirm
  //   &::before
  //     +imgBg($w: 53px, $h: 53px, $img-url: 'img-origin/sprites/header/img_confirmBox-ok.png')
  // &.is-cancel
  //   &::before
  //     +imgBg($w: 53px, $h: 53px, $img-url: 'img-origin/sprites/header/img_confirmBox-error.png')

.confirmBox-agree
  color: $font-light-brown
  font-size: 1.5rem
  line-height: 1.6
  margin: 0 0 2rem 0
  display: flex
  flex-flow: column nowrap
  +respond-to('desktop')
    font-size: 2.2rem
    margin: 0 auto 2rem
    max-witdh: 80%
.form-checkbox
  width: 20px
  height: 20px
  color: $font-light-brown
  border: 2px solid $font-light-brown
  border-radius: 4px
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  font-size: 1.5rem
.confirmBox-btn
  transition: opacity .3s ease
  opacity: 1
  &.is-disabled
    cursor: not-allowed
    opacity: 0.3
.confirmBox-checkbox-label
  display: inline-block
  cursor: pointer
// -------------------------------------
//   Components
// -------------------------------------

.confirmBox-msg
  +fs($fz: 13px, $lh: 25px, $c: #516073)
  +size($h: calc(100% - 100px))
  display: flex
  align-items: flex-start
  max-height: 100%
  overflow: scroll
  +respond-to('tablet')
    +size($h: calc(100% - 140px))
  +respond-to('desktop')
    +size($h: calc(100% - 200px))

.btn-confirmBox-close
  +pos($p: absolute, $r: 10px, $t: 6px)
  // +imgBg($w: 21px, $h: 20px, $img-url: 'img-origin/sprites/header/btn_confirmBox-close.png')

.confirmBox-footer
  padding: 1.2rem 0
  text-align: center
  background-color: $font-green
  box-shadow: 0 -6px 6px #333c3977
  position: absolute
  width: 100%
  left: 0
  right: 0
  bottom: 40px
  +respond-to('tablet')
    padding: 2.2rem 0
  +respond-to('desktop')
    bottom: 70px
.confirmBox-btns
  display: flex
  justify-content: center
  padding: 0 13%
  +respond-to('desktop')
    margin: auto
    max-width: 62%
    padding: 0

.confirmBox-btn
  position: relative
  +fs($fz: 14px, $c: $font-pink, $lh: 32px)
  +size($w: auto, $h: 32px)
  display: inline-block
  padding: 0 12px
  text-align: center
  border: 1px solid $font-pink
  flex: 0 0 42%
  cursor: pointer
  &:first-child
    margin: 0 20px 0 0
  +respond-to('tablet')
    font-size: 1.8rem
    height: 42px
    line-height: 42px

// detail
.detail
  width: 100%
  +respond-to('desktop')
    max-width: 70%
    margin : auto
    height: 100vh
.detail-flex
  display: flex
  justify-content: space-between
.detail-span
  margin-right: 3rem
.detail-header
  padding: 4% 6%
.detail-h5-title
  margin: 30px 0
// .detail-body
  // padding: 0 6% 6%
  // +respond-to('desktop')
  //   padding: 0 8% 6%
.detail-warning
  font-size: 1.4rem
  +respond-to('desktop')
    font-size: 1.8rem
    line-height: 1.8
.detail-row
  display: flex
  width: 100%
  padding: 0 0 1%
  &.flex-col
    flex-flow: column nowrap
  &.row--header
    flex-flow: column
    +respond-to('tablet')
      flex-flow: row
.detail-row-box
  display: flex
  &:first-child
    flex: 0 0 55%
    +respond-to('tablet')
      margin-right: 30px
  &:last-child
    flex: 0 0 calc(45% - 30px)
    +respond-to('tablet')
      margin-top: 50px
  &.flex-col
    flex-flow: column nowrap

.detail-info
  padding: 3% 6%
  +respond-to('desktop')
    padding: 3% 0 0
.detail-info-box
  width: 100%
  &.is-hide
    display: none
.detail-box
  display: flex
  justify-content: space-between
  width: 100%
  +respond-to('tablet')
    margin-bottom: 6px
  &.box--nights
    .detail-text
      margin-left: auto

.detail-title
  font-size: 1.6rem
  color: $font-green
  letter-spacing: 0.2em
  line-height: 1.5
  margin-bottom: 1rem
  &.detail--price-title
    margin-top: 1rem
  +respond-to('desktop')
    font-size: 2.2rem
.detail-ul
  list-style: disc
  padding: 0 0 0 3rem
  font-size: 1.4rem
  +respond-to('desktop')
    font-size: 1.8rem
    line-height: 1.8
.detail-footer
  padding: 3% 2%
  // display: flex
  // flex-flow: column
  color: $font-green
  background-color: #d9d9d9
  &.mobile
    display: block
    +respond-to('tablet')
      display: none
  &.desktop
    display: none
    margin-top: auto
    +respond-to('tablet')
      display: block
.detail-footer-title
  font-size: 1.6rem
  font-weight: bold
  white-space: nowrap
  +respond-to('desktop')
    font-size: 2.2rem
.detail-footer-toggle
  font-size: 2.2rem
  background-color: $font-green
  color: $font-pink
  display: inline-block
  width: 20px
  height: 20px
  border-radius: 50%
  line-height: 20px
  position: relative
  vertical-align: middle
  &::before
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    content: '+'
  &.is-active
    &::before
      content: '-'
      font-size: 2.8rem
      line-height: 16px
.detail-footer-price
  white-space: nowrap
  text-align: right
.detail-footer-text
  font-size: 1.6rem
  font-weight: bold
  position: relative
  height: 3.5rem
  +respond-to('desktop')
    font-size: 2.2rem
  &.detail--pre
    text-decoration: underline double 2px
    text-align: right
  +respond-to('desktop')
    padding: 0 0 4% 0
.detail-footer-row
  display: flex
  justify-content: space-between
  &:first-child
    margin-bottom: 1.5rem
.detail-footer-info
  font-size: 1.3rem
  color: #666
  +respond-to('desktop')
    font-size: 1.6rem
.hr
  padding: 0 6%
  width: 86%
  margin: auto



.bookingStep
  display: flex
  justify-content: space-between
  list-style: none
  padding: 0
  margin: 0 auto
  position: relative
  &::before
    content: ""
    position: absolute
    top: 15px
    left: 25px
    right: 25px
    height: 1px
    z-index: 0
    background-color: #dcdfe6
    +respond-to('tablet')
      top: 25px
.bookingStep-item
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  z-index: 1
.step-icon
  display: flex
  width: 30px
  height: 30px
  margin-bottom: 1rem
  border-radius: 100%
  text-align: center
  align-items: center
  justify-content: center
  color: #fff
  background-color: #c1c3c7
  font-size: 1.3rem
  line-height: 1.7
  +respond-to('tablet')
    width: 50px
    height: 50px
    font-size: 1.8rem
  &.is-checked
    background-color: $font-green
.step-title
  font-size: 1.4rem
  +respond-to('tablet')
    font-size: 1.8rem
