@import 'mixin'
@import 'variables'

.wrapper
  height: auto
.startDate-title
  position: relative
  z-index: 1
  padding: 0% 8% 8%
  white-space: nowrap
  +respond-to('tablet')
    padding: 17% 17% 15%
  +respond-to('desktop')
    padding: 8% 0 0 18rem
.startDate-gallery
  position: relative
.startDate-gallery-content
  width: 80%
  margin-right: 20%
  +respond-to('tablet')
    width: 74%
    margin-right: 26%
  +respond-to('desktop')
    z-index: 1
    width: 54%
    margin: -24rem 0 0 37%
.startDate-deco-square
  background-size: contain
  // background-image: url(/assets/img/img_deco_3_o.png)
  background-repeat: no-repeat
  transform: translateY(-9%)
  position: absolute
  right: 0
  top: 0
  width: 50%
  // background-color: #C5BCAD
  padding-bottom: 87%
  z-index: -1
  +respond-to('tablet')
    width: 71%
  +respond-to('desktop')
    width: 47.3%
    margin-top: -3%
    padding-bottom: 57%
.img-startDate
  // background-image: url('/assets/img/img_camp_1.jpg')
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  padding-bottom: 143%
  +respond-to('desktop')
    padding-bottom: 118%
    background-position: -70px -20px
.startDate-gallery-content-pic2
  display: none
  width: 49%
  margin: 0 0 48% 39%
  +respond-to('desktop')
    display: block
    position: absolute
    width: 29%
    margin: -44% 0 0
.img-pic2
  // background-image: url('/assets/img/img_camp_2.jpg')
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  padding-bottom: 143%
  +respond-to('desktop')
    padding-bottom: 118%

// picker
.startDate-header
  +respond-to('desktop')
    height: 520px
.startDate-picker
  margin: 30px auto
.startDate-picker-content
  padding: 17% 7% 2% 6%
  +respond-to('tablet')
    width: 90%
    padding: 8% 8% 4% 18%
  +respond-to('desktop')
    width: 100%
    padding: 0 12% 4% 14rem
  +respond-to('desktop-lg')
    padding: 0 8% 8%
.startDate-picker-row
  margin-bottom: 3%
  padding: 0px 2% 2%
.startDate-picker-wrapper
  position: relative
.startDate-picker-toggle
  display: flex
  justify-content: space-between
  align-items: center
  +respond-to('tablet')
    justify-content: flex-start
.btn-startDate-toggle
  width: 65%
  height: 42px
  font-size: 1.6rem
  letter-spacing: 0.2em
  line-height: 1.5
  padding: 6px 30px 6px 20px
  cursor: pointer
  position: relative
  background-color: $font-green
  color: $font-light-brown
  text-align: left
  border: 1px solid $font-green
  +respond-to('tablet')
    height: 55px
    font-size: 2.2rem
    max-width: 300px
  +respond-to('desktop-lg')
    font-size: 2.6rem
  &:after
    content: ''
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)
    width: 0
    height: 0
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    border-top: 8px solid $font-light-brown
.startDate-picker-btns
  position: absolute
  max-width: 300px
  top: 46px
  width: 65%
  flex-flow: column nowrap
  justify-content: space-between
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%)
  display: none
  z-index: 2
  +respond-to('tablet')
    top: 60px
  &.is-active
    display: block
  +respond-to('desktop')
    flex-flow: row nowrap
.startDate-picker-map
  font-size: 1.8rem
  cursor: pointer
  color: slategrey
  text-align: center
  width: 30%
  white-space: nowrap
  margin-left: 3rem
  +respond-to('tablet')
    font-size: 2.6rem
.btn-startDate-picker
  height: 44px
  font-size: 1.6rem
  letter-spacing: 0.2em
  line-height: 1.5
  border-bottom: 0.1rem solid #eee
  cursor: pointer
  width: 100%
  text-align: left
  padding: 6px 0 6px 20px
  background: #fff
  +respond-to('tablet')
    font-size: 2.2rem
    height: 56px
  +respond-to('desktop')
    &:hover
      background-color: $font-green
      color: $font-light-brown
  +respond-to('desktop-lg')
    font-size: 2.6rem
  &:first-child
    margin-left: 0
  &.is-active
    background-color: $font-green
    color: $font-light-brown

.startDate-picker-title
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 10% 0 6%
  +respond-to('tablet')
    padding: 2% 0 4%
.startDate-bookSteps
  font-size: 2.2rem
.startDate-bookSteps-ul
  list-style: decimal
  padding-left: 4rem
  padding-bottom: 2.4rem
.startDate-picker-note
  padding: 10px 0
.startDate-info-p
  // font-size: 2.4rem
  padding: 12% 17% 15%
  color: $font-brown
  +respond-to('tablet')
    padding: 12% 30% 15% 18%
  +respond-to('desktop')
    margin: 0 0 0 37%
    padding: 5% 15% 17rem 0
.link-goBack
  background: transparent
  border: 1px solid #bbb
  border-radius: 6px
  cursor: pointer
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 6px 8px
  font-size: 14px
  vertical-align: middle
  margin-left: 20px
  +respond-to('tablet')
    margin-left: 18px

// feature
.startDate-feature
  +respond-to('desktop')
    display: flex
    align-items: flex-start
.startDate-feature-spec
  padding: 10% 10% 0 6%
  +respond-to('tablet')
    width: 90%
    padding: 8% 12% 4% 18%
  +respond-to('desktop')
    display: flex
    width: 70%
    justify-content: center
    flex-direction: column
    padding: 8% 8% 8% 6rem
    align-items: flex-start
    margin-top: -5%
.startDate-feature-spec-list
  margin-bottom: 4rem
  +respond-to('desktop')
    padding-bottom: 20px
  &.spec--flex
    display: flex
    flex-flow: row wrap
    li.startDate-feature-spec-item
      flex: 0 0 50%
      padding: 1rem 0 0
      white-space: nowrap
.startDate-feature-spec-title
  margin-bottom: 2rem
.startDate-feature-spec-item
  padding: 1rem 0
  line-height: 1.8
  &.spec--notice
    display: flex
    width: 100%
.spec-svg
  flex: 0 0 6%
  margin-top: 1px
.spec-text
  flex: 0 0 94%
.startDate-feature-carousel
  position: relative
  +respond-to('desktop')
    width: 100%
.startDate-feature-carousel-wrapper
  margin-left: 17%
  +respond-to('desktop')
    margin-left: 0
    padding-top: 6%

// gallery
// .gallery
//   box-sizing: content-box
//   // margin-left: auto
//   // margin-right: auto
//   // max-width: 1170px
//   // padding-left: 60px
//   // padding-right: 60px
//   display: flex
//   flex-shrink: 0
//   padding: 0
//   width: 100%
//   order: 3
//   +respond-to('tablet')
//     order: 2

// .gallery-content
//   border-radius: 8px
//   display: flex
//   overflow: hidden
//   position: relative
//   // margin: 0 auto
//   -webkit-mask-image: -webkit-radial-gradient(#fff,#000)
//   // justify-content: center

// .gallery-primary
//   background: #0001
//   margin-right: 5px
//   overflow: hidden
//   padding-bottom: 40%
//   position: relative
//   width: 50%

// .gallery-secondary
//   margin: 0 5px


// .gallery-secondary
//   display: flex
//   flex-direction: column
//   width: 33.3333333333%

// .gallery-primary img,
// .gallery-secondary img
//   background-color: #f2f2f2
//   cursor: pointer
//   height: 100%
//   object-fit: cover
//   position: absolute
//   transition: transform .4s ease-in-out
//   width: 100%

// .gallery-secondary-tile,
// .gallery-tertiary-tile
//   background: #0001
//   height: 50%
//   margin: 0 0 5px
//   overflow: hidden
//   position: relative
.datePickerArea-wrapper
  position: relative
.datePickerArea
  opacity: 1
  &.is-hide
    opacity: 0


.buy-gallery
  margin: 0 6%
  +respond-to('desktop')
    padding: 6% 0 8% 14%
    margin: 0
  //   margin-right: 60px
  //   max-width: 50%
.buy-thumbnail
  +size($w: 100%)
  flex-flow: row wrap
  justify-content: flex-start
  margin-top: .8rem
.buy-gallery-figure
  max-width: 100%
  // min-height: 333px
  // max-height: 333px
  // margin-bottom: 10px
  +respond-to('desktop')
    min-height: auto
    max-height: fit-content
.img-buy
  padding-bottom: 66%
  background-size: contain
  background-position: center
  background-repeat: no-repeat
.buy-title
  +fs($fz: 26px)
  margin: 40px 0
  // +respond-to('tablet')
  //   +fs($fz: $f-m)
  // +respond-to('desktop-lg')
  //   +fs($fz: $f-l)
.buy-title-maskplus
  +fs($fm: 'Arial')
.buy-subTitle
  // +fs($fz: $fm-m)
  letter-spacing: 1px
  // +respond-to('tablet')
  //   +fs($fz: $f-xs)
  // +respond-to('desktop-lg')
  //   +fs($fz: $f-m)
.buy-caption
  // +fs($fz: $fm-s, $fm: '微軟正黑體', $lh: 1.8)
  letter-spacing: 1px
  // +respond-to('tablet')
  //   +fs($fz: $f-xss)
  // +respond-to('desktop-lg')
  //   +fs($fz: $f-s)
.thumbnail
  +pos($p: relative)
  +size($w: auto, $h: 70px)
  margin: 0 10px 10px 0
  cursor: pointer
  display: flex
  flex: 0 0 calc(100% / 7 - 9px)
  align-items: center
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  opacity: .5
  transition: opacity .3s ease
  &:nth-child(7n)
    margin-right: 0
  +respond-to('desktop')
    margin: 0 10px 10px 0
    height: 80px
    // flex: 0 0 calc(100% / 8 - 9px)
    // &:nth-child(8n)
    //   margin-right: 0
  &.is-active
    opacity: 1


/* Dropdown */
.dd-button
  display: inline-block
  border: 1px solid gray
  border-radius: 4px
  padding: 10px 60px 10px 20px
  background-color: #ffffff
  cursor: pointer
  white-space: nowrap
  &:after
    content: ''
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid black
// .loading
//   width: 80px
//   height: 80px
//   position: absolute
//   left: 0
//   right: 0
//   bottom: 0
//   top: 0
//   margin: auto
//   .dot
//     width: 16px
//     height: 16px
//     display: block
//     position: absolute
//     top: 20%
//     border-radius: 50%
//     background-color: $font-green
//     transform: translateY(-50%)
//     animation: item7-dot 1.2s ease-in-out infinite
//     &.dot1
//       left: 20%
//       transfrom: translateX(-50%)
//     &.dot2
//       left: 50%
//       transfrom: translateX(-50%)
//       animation-delay: 0.2s
//     &.dot3
//       transfrom: translateX(-50%)
//       left: 80%
//       animation-delay: 0.4s

// @keyframes item7-dot
//   0%
//     opacity: 1
//     top: 20%
//   50%
//     opacity: 0.3
//     top: 0
//   100%
//     opacity: 1
//     top: 20%
