@import 'mixin'
@import 'variables'

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%
  height: 100%
  &.is-notScroll
    overflow: hidden

// section banner
.section-banner
  position: relative
  min-height: 100%
  height: 100%
  display: flex
  flex-flow: column
  height: auto
  +respond-to('tablet')
    align-items: center
    display: flex
    min-height: 75vh
    position: relative
.banner-color-rectangle
  +respond-to('desktop')
    display: block
    position: absolute
    width: 30%
    max-width: 26rem
    height: 105vh
    top: 0
    right: 0
    background-color: #becc44
    z-index: -1
.banner-content
  padding-top: 10vh
  +respond-to('tablet')
    padding-top: 17vh
    // box-sizing: content-box
    // margin-left: auto
    // margin-right: auto
    // max-width: 1170px
    width: 100%
  +respond-to('desktop')
    padding-top: 2.5vh
.home-slogan-heading
  // margin-top: 12%
  letter-spacing: 3px
  line-height: 4.8rem
  +respond-to('tablet')
    line-height: 7rem
    margin-left: 12%
  +respond-to('desktop')
    margin: 8% 0 2% 12.5%
    line-height: 10rem
    text-align: left
.home-slogan-span
  font-size: 2.6rem
  letter-spacing: 3px
  display: block
  color: #333c39
  font-weight: 300
  text-align: center
  line-height: 1.6
  +respond-to('tablet')
    font-size: 4.6rem
    text-align: left
    line-height: inherit
  +respond-to('desktop')
    font-size: 5.2rem
    letter-spacing: 8px

.banner-img-wrapper
  position: relative
  width: 100%
  margin-top: auto
  // height: 500px
  +respond-to('tablet')
    width: 87.5%
    margin-left: 12.5%
    margin-top: 7%
  +respond-to('desktop')
    margin-top: 0
.section-deco-9
  position: absolute
  background-repeat: no-repeat
  background-size: contain
  z-index: -1
  opacity: 0.7
  background-position: top
  top: -18%
  width: 70%
  padding-bottom: 70%
  left: 0
  right: 0
  margin: auto
  transform: rotate(-350deg)
  &.show
    background-image: url(/assets/img/img_deco_9.png)
    animate: fadeIn 1s ease
  +respond-to('tablet')
    width: 46vw
    height: 11vw
    top: -15%
  +respond-to('desktop')
    right: 2%
    top: -40%
    left: auto
    padding-bottom: 40%
    width: 45%
.section-deco-3
  background-size: cover
  padding-bottom: 35%
  bottom: -16%
  left: -15%
  width: 25%
  position: absolute
  background-repeat: no-repeat
  z-index: -1
  transform: rotate(180deg)
  &.show
    background-image: url(/assets/img/img_deco_3.png)
  +respond-to('tablet')
    background-size: contain
    bottom: -28%
    left: -3%
    padding-bottom: 40%
    width: 21%
    transform: rotate(0deg)
  &.env--3
    padding-bottom: 91%
    right: -10vw
    top: 38%
    width: 64%
    left: auto
    bottom: auto
    +respond-to('tablet')
      right: -30vw
      background-size: contain
      transform: rotate(0deg)
      top: 48%
      padding-bottom: 70%
      width: 420px
    +respond-to('desktop')
      right: 0
      transform: rotate(90deg)
      top: 65%
      padding-bottom: 29%
      width: 480px

.backup-img-banner
  width: 0
  height: 0
  position: fixed
  z-index: -10
.img-banner
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 100%
  height: 0
  // height: 500px
  &.show
    background-image: url('/assets/img/img_h1.jpg')
    animation: fadeIn 1s ease
  +respond-to('tablet')
    padding-bottom: 64%
    background-position: center 80%
    height: 600px
  +respond-to('desktop')
    padding-bottom: 52%

// section home intro
.section-intro
  position: relative
  +respond-to('desktop')
    display: flex
    flex-flow: row nowrap
    flex-direction: row-reverse
    padding-bottom: 5%
.intro-content
  padding: 17% 17% 23%
  box-sizing: content-box
  margin-left: auto
  margin-right: auto
  // max-width: 1170px
  +respond-to('tablet')
    padding: 21% 12% 8% 30%
  +respond-to('desktop')
    width: 55%
    padding: 6.5% 12% 0 8%
    max-height: 500px
.intro-list-item-description
  +respond-to('desktop')
    font-size: 2.8rem
  +respond-to('desktop-lg')
    font-size: 3.2rem
  +respond-to('desktop-xl')
    font-size: 3.8rem

.intro-title
  margin-bottom: 30px
  white-space: nowrap
.intro-img-wrapper
  width: 100%
  height: 100%
  position: relative
.img-intro
  background-repeat: no-repeat
  background-size: cover
  background-position: 54% center
  width: 87%
  padding-bottom: 100%
  &.show
    background-image: url('/assets/img/img_h2.jpg')
    animation: fadeIn 1s ease
  +respond-to('tablet')
    padding-bottom: 56%
  +respond-to('desktop')
    width: 100%
    height: 100%
    margin: 13% 0 0
    padding-bottom: 113%
    background-position: 54% 0

// section env
.env-head
  padding: 15% 17% 12%
  display: flex
  flex-flow: column nowrap
  +respond-to('tablet')
    padding: 14% 14% 5% 18%
  +respond-to('desktop')
    padding: 0 17% 2.5%
  +respond-to('desktop-lg')
    padding: 2% 0 2.6% 16rem
    max-width: 126rem
    margin: 0 auto
.env-img-wrapper
  margin: 0 0 0 17%
.env-body
  padding: 8% 0 0 17%
  +respond-to('tablet')
    padding: 8% 10% 0 17%
  +respond-to('desktop')
    padding: 8% 0 0
.env-row
  position: relative
  margin-bottom: 100px
  +respond-to('tablet')
    margin-bottom: 70px
  +respond-to('desktop')
    display: flex
    margin-bottom: 250px
  &.row--sec
    flex-flow: row-reverse
    .env-info
      +respond-to('desktop')
        padding: 8% 14rem 8% 8%
      +respond-to('desktop-lg')
        padding: 8% 18rem 8% 8%
    .img-body-env
      +respond-to('desktop')
        background-position: 10rem
      +respond-to('desktop-lg')
        background-position: 18rem
.env-info
  padding: 0 18% 0 0
  color: $font-green
  +respond-to('desktop')
    flex: 0 0 50%
    padding: 5% 8% 8% 14rem
  +respond-to('desktop-lg')
    flex: 0 0 47%
    padding: 5% 8% 8% 18rem
.env-body-img-wrapper
  margin: 0 17% 0 0
  position: relative
  +respond-to('desktop')
    margin: 0
    width: 100%
.env-subTitle
  font-size: 1.2rem
  letter-spacing: .2em
  line-height: 1.5
  text-transform: uppercase
  position: relative
  display: inline-block
  margin: 3rem 0
  +respond-to('tablet')
    font-size: 1.4rem
.env-title
  font-size: 2.4rem
  line-height: 1.12
  letter-spacing: .15em
  text-transform: uppercase
  margin-bottom: 1rem
  font-weight: 300
  margin-bottom: 1rem
  +respond-to('tablet')
    font-size: 3rem
    margin-bottom: 3rem
  +respond-to('desktop')
    font-size: 4.2rem
.env-desc
  margin-bottom: 6rem
  font-size: 1.8rem
  line-height: 1.8
  font-weight: 300
  +respond-to('desktop')
    font-size: 3rem
.img-body-env
  background-repeat: no-repeat
  background-size: contain
  background-position: 0
  padding-bottom: 110%
  +respond-to('desktop-lg')
    padding-bottom: 82%
  &.env--1
    &.show
      background-image: url(/assets/img/img_env_1.jpg)
      animation: fadeIn 1s ease
  &.env--2
    &.show
      background-image: url(/assets/img/img_env_2.jpg)
      animation: fadeIn 1s ease
  &.env--3
    &.show
      background-image: url(/assets/img/img_env_3.jpg)
      animation: fadeIn 1s ease

.img-env
  background-repeat: no-repeat
  background-size: cover
  background-position: 0
  padding-bottom: 70%
  &.show
    background-image: url('/assets/img/img_env.jpg')
    animation: fadeIn 1s ease
  +respond-to('tablet')
    background-position: center bottom
    // background-image: url('/assets/img/tent/img_02.jpg')
  +respond-to('desktop')
    width: 75%
    margin: 0 0 0 12.6%
    padding-bottom: 50%

// section camp
.camp-head
  padding: 15% 17% 12%
  display: flex
  flex-flow: column nowrap
  +respond-to('tablet')
    padding: 14% 14% 5% 18%
  +respond-to('desktop')
    padding: 0 17% 2.5%
  +respond-to('desktop-lg')
    padding: 2% 0 2.6% 16rem
    max-width: 126rem
    margin: 0 auto
.camp-description
  padding: 13% 17%
  +respond-to('tablet')
    padding: 13% 0 14% 17%
    width: 64%
  +respond-to('desktop')
    padding: 8% 0 15% 17%
    width: 56%
.camp-body
  position: relative
  +respond-to('tablet')
    display: flex
    flex-flow: row nowrap
.section-deco-1
  position: absolute
  left: 0
  bottom: -14%
  width: 100%
  padding-bottom: 35%
  background-repeat: no-repeat
  z-index: -1
  background-position: bottom
  background-size: cover
  &.show
    background-image: url(/assets/img/img_deco_1.png)
  +respond-to('tablet')
    display: none
.section-deco-2
  position: absolute
  left: 0
  background-size: contain
  width: 25%
  padding-bottom: 70%
  background-repeat: no-repeat
  z-index: -1
  display: none
  &.show
    background-image: url(/assets/img/img_deco_2.png)
  +respond-to('desktop')
    left: 1%
    width: 17%
    top: 20%
    padding-bottom: 50%
.btn-order
  width: 160px
  height: 160px
  background-color: $font-green
  color: $font-brown
  display: flex
  justify-content: center
  align-items: center
  font-size: 2.4rem
  letter-spacing: 3px
  box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #657f7759 0 -3px 0 inset
  border: 6px solid #657f7759
  cursor: pointer
  +respond-to('tablet')
    width: 200px
    height: 200px
    font-size: 3rem
  +respond-to('desktop')
    width: 280px
    height: 103px
    font-size: 5rem
.camp-content
  position: relative
.section-deco-5
  background-repeat: no-repeat
  background-size: contain
  position: absolute
  left: 17%
  z-index: -1
  background-position: top
  padding-bottom: 56%
  width: 30%
  top: 19%
  &.show
    background-image: url('/assets/img/img_deco_5.png')
  +respond-to('tablet')
    left: auto
    right: 0
    display: block
    width: 25%
    padding-bottom: 56%
    top: 5%
  +respond-to('desktop')
    width: 18%
    padding-bottom: 60%
    top: -13%
  &.deco-5--env
    display: block
    left: 63%
    padding-bottom: 122%
    width: 37%
    top: 4%
    +respond-to('tablet')
      width: 34%
      padding-bottom: 112%
    +respond-to('desktop')
      width: 38%
      padding-bottom: 126%

.camp-img-wrapper
  position: relative
.img-camp
  background-repeat: no-repeat
  background-size: cover
  background-position: 0
  padding-bottom: 70%
  &.show
    background-image: url('/assets/img/img_h3_camp.jpg')
    animation: fadeIn 1s ease
  +respond-to('tablet')
    background-position: center bottom
    // background-image: url('/assets/img/tent/img_02.jpg')
  +respond-to('desktop')
    width: 75%
    margin: 0 0 0 12.6%
    padding-bottom: 50%



// section homestay
.homestay-head
  padding: 15% 17% 12%
  display: flex
  flex-flow: column nowrap
  +respond-to('tablet')
    padding: 14% 14% 5% 18%
  +respond-to('desktop')
    padding: 0 17% 2.5%
  +respond-to('desktop-lg')
    padding: 6.5% 0 2.6% 16rem
    max-width: 126rem
    margin: 0 auto
.homestay-description
  padding: 28% 11% 15% 17%
  +respond-to('tablet')
    padding: 21% 10% 15% 0
    width: 69%
  +respond-to('desktop')
    padding: 17% 15% 0 0
    width: 60%
.homestay-img-wrapper
  position: relative
.img-homestay
  background-repeat: no-repeat
  background-size: cover
  background-position: 0
  padding-bottom: 70%
  &.show
    background-image: url('/assets/img/img_h3_inn.jpg')
  +respond-to('tablet')
    background-position: center bottom
    // background-image: url('/assets/img/tent/img_02.jpg')
  +respond-to('desktop')
    width: 75%
    margin: 0 0 0 12.6%
    padding-bottom: 50%
.homestay-body
  position: relative
  +respond-to('tablet')
    display: flex
    flex-flow: row nowrap
    flex-direction: row-reverse
.section-deco-homestay-2
  display: none
  z-index: -1
  position: absolute
  left: 0px
  top: 25%
  background-repeat: no-repeat
  background-size: contain
  background-position: right
  width: 20%
  padding-bottom: 70%
  transform: rotate(180deg)
  &.show
    background-image: url(/assets/img/img_deco_2.png)
  // +respond-to('tablet')
  //   display: block


// section map
.section-map
  background: linear-gradient(180deg, #fff 0%, #f5f5f0 10%)
.map-head
  padding: 15% 17% 7.6% 17%
  display: flex
  flex-flow: column nowrap
.map-info
  padding: 0 10% 7% 17%
  +respond-to('desktop')
    padding: 0 40% 7% 17%
.map-title-h3
  margin-bottom: 20px
  font-weight: bold
.map-info-text
  line-height: 1.6
.iframe
  +respond-to('desktop')
    height: 700px


// section home category
.home-category
  padding-left: 20px
  padding-right: 20px
  box-sizing: content-box
  margin-left: auto
  margin-right: auto
  max-width: 1170px
  +respond-to('tablet')
    padding-left: 60px
    padding-right: 60px
.home-category-title
  font-size: 1.75rem
  margin-bottom: 1em
.home-category-list
  display: grid
  grid-auto-flow: column
  grid-gap: 20px
  gap: 20px
  margin: -20px
  overflow: auto
  padding: 20px
  scroll-padding: 20px
  scroll-snap-type: x mandatory
  +respond-to('tablet')
    grid-template-columns: 1fr 1fr
    list-style: none
    padding: 20px 0
    margin: 0
.home-category-list-item
  scroll-snap-align: start
  position: relative
  width: 75vw
  +respond-to('tablet')
    width: auto
// .home-category-list-item-thumbnail
//   +respond-to('tablet')
//     background-color: #0001
//     overflow: hidden
//     padding-bottom: 66.6666666667%
//     position: relative
//     width: 100%
.home-category-list::-webkit-scrollbar
  display: none
.home-category-list-item-tile
  background: #fff
  border-radius: 8px
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%)
  display: block
  height: 100%
  overflow: hidden
  text-decoration: none
.home-category-list-item-content
  padding: 16px
.home-category-list-item-name
  color: #000
  font-size: 1.125rem
  font-weight: 700
  margin-bottom: 2px
.home-category-list-item-description
  color: #0009
  font-size: .875rem
  font-weight: 400
.fa-coffee
  font-size: 39px

// diagram
.section-diagram
  background: #fff
.diagram-head
  padding: 0 17% 2.5%
  display: flex
  flex-flow: column nowrap
  +respond-to('tablet')
    padding: 14% 14% 5% 18%
  +respond-to('desktop')
    padding: 0 17% 2.5%
  +respond-to('desktop-lg')
    padding: 6.5% 0 0 16rem
    max-width: 126rem
    margin: 0 auto
.img-diagram
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  padding-bottom: 55%
  &.diagram--desktop-lg
    display: none
    &.show
      background-image: url('/assets/img/img_map.png')
      animation: fadeIn 1s ease
    +respond-to('desktop-lg')
      display: block
  &.diagram--mobile-1,
  &.diagram--mobile-2
    +respond-to('desktop-lg')
      display: none
  &.diagram--mobile-1
    padding-bottom: 120%
    &.show
      background-image: url('/assets/img/img_map.png')
      animation: fadeIn 1s ease
  &.diagram--mobile-2
    &.show
      background-image: url('/assets/img/img_map_2.png')
      animation: fadeIn 1s ease

// Decotration
.section-deco-7
  position: absolute
  right: 0
  bottom: 0
  transform: translateY(35%)
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  width: 76%
  padding-bottom: 20%
  z-index: -1
  &.show
    background-image: url('/assets/img/img_deco_7.png')
  +respond-to('tablet')
    padding-bottom: 22%
  +respond-to('desktop')
    left: 0
    right: auto
    top: auto
    width: 80%
    padding-bottom: 28%
  &.deco-7--env
    width: 100%
    left: -18%
    padding-bottom: 29%
    +respond-to('tablet')
      left: auto
.section-deco-8
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom
  position: absolute
  left: 0
  bottom: 0
  transform: translateY(35%)
  background-color: #CDDC40
  width: 69%
  z-index: -1
  padding-bottom: 38%
  &.show
    background-image: url('/assets/img/img_deco_8.png')
  +respond-to('tablet')
    left: auto
    right: 0
  +respond-to('desktop')
    transform: translateY(40%)
    padding-bottom: 22.5%
    width: 60%
    bottom: 0
.map-iframe
  width: 80%
  margin: 0 auto
  padding: 0 0% 5% 0%
.iframe
  width: 100%
  height: 450px
  +respond-to('desktop')
    height: 850px
.btn-quickBook
  +pos($p: fixed, $b: 0)
  +size($w: 100%, $h: 44px)
  +fs($fz: 2rem, $c: $font-pink, $fw: 300)
  padding: 0
  background-color: $font-green
  z-index: 1
  transition: transform .4s ease
  transform-origin: 0 0
  transform: translateY(100%)
  letter-spacing: 1.2px
  display: flex
  align-items: center
  justify-content: center
  &.is-show
    transform: translateY(0)
  +respond-to('desktop')
    display: none
