@import 'component/order'

.homestay-img-wrapper
  +respond-to('desktop')
    padding: 0% 8% 8% 0
.section-deco-homestay
  +respond-to('desktop')
    transform: translateY(-28%)
.img-homestay
  background-image: url('/assets/img/img_thanks.jpg')
.bullet-list
  margin: 0 0 10%
  +respond-to('tablet')
    margin: 10% 0
.bullet-item
  margin-bottom: 2rem
  line-height: 2
.bullet-note
  letter-spacing: 1px
  margin-bottom: 30px
  font-size: 1.8rem
  color: $font-green
  line-height: 1.6
  font-weight: 300
  letter-spacing: 0.2rem
  +respond-to('tablet')
    font-size: 2.8rem
.bullet-b
  text-decoration: double underline
.startDate-p
  margin-top: 3rem
.form-box
  padding: 0% 8%
  +respond-to('tablet')
    padding: 0 6% 4% 17%
  +respond-to('desktop')
    padding: 0 4% 8% 18rem

.section-deco-5
  background-image: url('/assets/img/img_deco_5.png')
  background-repeat: no-repeat
  background-size: contain
  position: absolute
  left: 17%
  z-index: -1
  background-position: top
  padding-bottom: 56%
  width: 30%
  top: 19%
  +respond-to('tablet')
    display: block
    width: 85%
    padding-bottom: 90%
  +respond-to('desktop')
    width: 48%
    padding-bottom: 160%
    top: -10%
    right: 0%
    left: auto
