<div class="wrapper">
  <app-header></app-header>
  <main class="wrapper-content">
    <section class="section section-order">
      <div class="startDate-header">
        <h2 class="startDate-title h2"><div class="title-line">
          <span>Thanks</span>
          <span></span>
        </div>
        <p class="startDate-p p">已收到您的預訂<br>請繼續以下步驟，送出訂單</p></h2>
      </div>
      <div class="order">
        <div class="order-form">
          <div class="form-box">
            <ul class="bullet-list">
              <li class="bullet-item label-text"><span class="step step--thanks">！</span><b class="bullet-b">國定假日訂位，以收到訂位通知信件並於<b class="bullet-b">兩日內</b>完成匯款才算預訂成功</b>，如無收到信件表示訂位失敗。</li>
              <li class="bullet-item label-text"><span class="step step--thanks">1</span>一般日期訂位，請至您的電子信箱收取通知信，<b class="bullet-b">內有匯款資訊</b>。</li>
              <li class="bullet-item label-text"><span class="step step--thanks">2</span>請在<b class="bullet-b">兩日內</b>完成匯款，匯款後請點擊<b class="bullet-b">通知信內的【我已匯款】連結</b>，填寫已匯款表單。</li>
            </ul>
            <div class="bullet-note">請注意：若未成功匯款將<b class="bullet-b">自動取消</b>預約之營位。</div>
            <div class="bullet-note">備註：若未收到訂位通知信<b class="bullet-b">請先查看廣告信件匣</b>或是<b class="bullet-b">山的抱抱FB粉絲頁</b>，連絡小幫手為您轉寄。</div>
            <div class="bullet-note">備註：若於假日或週末匯款，將於週一中午前確認款項。</div>
            <a class="btn btn-submit btn--default submit--border submit--home gtm-submit-home" [routerLink]="['/home']">回首頁</a>
          </div>

          <div class="homestay-img-wrapper">
            <div class="img-homestay"></div>
            <div class="section-deco-5"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>

<!-- <div class="startDate-gallery">
  <div class="startDate-gallery-content">
    <div class="startDate-deco-square"></div>
    <div class="startDate-img-wrapper">
      <div class="img-startDate"></div>
    </div>
  </div>
  <div class="startDate-gallery-content-pic2">
    <div class="startDate-img-wrapper">
      <p class="p">
        謝謝您的訂位，系統已自動發送訂位通知信，請查收電子信箱。
        <br>
        <br>
        1. 系統在收到訂位資料後會發出訂位通知信件。若沒收到<b>請先查看廣告信件夾</b>，或是<b>FB發送訊息連絡小幫手</b>來為您轉寄系統信。
        <br>
        <br>
        2. 請在<b>兩日內</b>使用填寫末五碼之帳戶完成匯款，若未匯款成功將取消預約之營位/宿屋，請務必確認匯款成功喔。
        <br>
        3. 匯款完成24小時後即可查詢訂位狀況。
        <br>
        4. 如兩日內未匯款完成，將取消預約之營位/宿屋，請務必確認匯款成功，以免白跑一趟喔。
      </p>
      <a class="btn btn-submit btn--default" [routerLink]="['/home']">回首頁</a>
    </div>
  </div>
</div> -->
