<div class="dateSelector">
  <div class="selectedDate" [class.is-show]="isShowSelectedDate" #inp (click)="showDatePicker();">{{value}}</div>
  <div class="datePicker"
    *ngIf="isShowPicker"
    [class.is-order]="isOrder"
    [class.is-large]="!isOrder"
    [exceptList]="[inp]"
    (appClickOutside)="hideDatePicker();"
    (click)="stopPropagation($event)">
    <div class="datePicker-head">
      <button
        class="btn-datePicker-arrow prev"
        (click)="handleMonth(-1)"><</button>
      <span class="datePicker-title">{{year}}/{{month}}月</span>
      <button
        class="btn-datePicker-arrow next"
        (click)="handleMonth(1)">></button>
    </div>
    <div class="datePicker-box">
      <!-- <span class="datePicker-cell cell--week">{{'datePicker.week.su'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.mo'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.tu'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.we'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.th'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.fr'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.sa'}}</span> -->
      <span class="datePicker-cell cell--week">星期日</span>
      <span class="datePicker-cell cell--week">星期一</span>
      <span class="datePicker-cell cell--week">星期二</span>
      <span class="datePicker-cell cell--week">星期三</span>
      <span class="datePicker-cell cell--week">星期四</span>
      <span class="datePicker-cell cell--week">星期五</span>
      <span class="datePicker-cell cell--week">星期六</span>
      <button
        *ngFor="let pickerDay of pickerDays"
        class="datePicker-cell cell--day"
        [class.is-select]="isActive(pickerDay.date)"
        [class.is-empty]="pickerDay.date === ''"
        [class.is-disabled]="pickerDay.disable || enableFirstBookedDate(bookedDate, pickerDay.timestamp, isOrder) || checkFull(pickerDay.timestamp, isOrder) || checkDayOff(pickerDay.timestamp)"
        [disabled]="pickerDay.disable || enableFirstBookedDate(bookedDate, pickerDay.timestamp, isOrder) || checkFull(pickerDay.timestamp, isOrder) || checkDayOff(pickerDay.timestamp)"
        (click)="changeDay(pickerDay);stopPropagation($event)">{{pickerDay.date}}
        <br>
        <span
          class="booked-text"
          *ngIf="pickerDay.date !== '' && !enableFirstBookedDate(bookedDate, pickerDay.timestamp, isOrder) && pickerDay.timestamp > getMinDateTS() && !checkDayOff(pickerDay.timestamp) && !checkFull(pickerDay.timestamp, isOrder)">可預約
        </span>
        <span *ngIf="checkDayOff(pickerDay.timestamp)">未開放</span>
        <span
          class="booked-text is-danger"
          *ngIf="pickerDay.date !== '' && enableFirstBookedDate(bookedDate, pickerDay.timestamp, isOrder) && pickerDay.timestamp > getMinDateTS()">客滿</span>
      </button>
    </div>
  </div>

</div>
