@import 'mixin'
@import 'variables'

.dateSelector
  +pos($p: relative)
  display: inline-block
  width: 100%

.selectedDate
  +pos($p: relative)
  +size($w: 118px, $h: 30px)
  +fs($fz: 14px, $lh: 30px)
  border-radius: 3px
  border: 1px solid #BDBDBD
  display: none
  padding-left: 10px
  margin-right: 8px
  box-sizing: border-box
  &::after
    // +imgBg($w: 16px, $h: 16px, $img-url: 'img-venom/img_datepicker.png')
    +pos($p: absolute, $t: 6px, $r: 4px)
    content: ''
    cursor: pointer
  &.is-show
    display: inline-block


.datePicker-title
  +size($w: calc(100% / 7 * 5), $h: 100%)
  display: inline-block

// -------------------------------------
//   Scaffolding
// -------------------------------------
.datePicker
  +pos($p: absolute, $t: 0px, $l: 94%)
  +size($w: 244px, $h: 550px)
  background-color: #fff
  border-radius: 6px
  border: 1px solid  #BDBDBD
  box-sizing: border-box
  z-index: 1
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 1px 3px 1px rgb(0 0 0 / 12%)

.datePicker-head
  +fs($fz: 18px, $c: $font-light-brown, $fw: bolder, $lh: 60px)
  +size($h: 60px)
  background-color: $font-green
  cursor: default
  text-align: center
  +respond-to('tablet')
    font-weight: bold
    font-size: 2.2rem

.datePicker-box
  +size($h: calc(100% - 30px))

.datePicker-cell
  +fs($fz: 13px, $lh: 24px)
  +size($w: calc(100% / 7), $h: 60px)
  display: inline-block
  text-align: center
  vertical-align: middle
  cursor: pointer
  +respond-to('desktop')
    +fs($fz: 1.8rem)
    &:hover
      // +fs($c: #2bd)
      background-color: orange
  &.is-select
    // +fs($c: #FFF)
    // background-color: #2bd
    color: #333c39
    background-color: orange
  &.is-disabled,
  &.is-disabled:hover
    color: #b3adad
    cursor: not-allowed
  &.is-empty
    cursor: default
    &:hover
      background-color: transparent
  &.is-disabled,
  &.is-disabled:hover
    color: #b3adad
    cursor: not-allowed
    background-color: transparent
  +respond-to('tablet')
    line-height: 30px
    height: 80px

span.datePicker-cell
  &:nth-of-type(-n+7)
    // +fs($fw: bolder)
    // cursor: pointer
    display: inline-flex
    align-items: center
    justify-content: center
    flex-flow: column
    cursor: default
    background-color: $font-pink
    height: 40px
    &:hover
      +fs($c: inherit)
      // background-color: inherit


// -------------------------------------
//   Components
// -------------------------------------

.btn-datePicker-arrow
  +size($w: calc(100% / 7), $h: 100%)
  +fs($fz: 24px, $lh: 30px)
  display: inline-block
  vertical-align: top
  cursor: pointer
  position: relative
  color: $font-light-brown
  opacity: 0.8
  +respond-to('tablet')
    font-size: 2.2rem
    font-weight: bold
    &:hover
      +fs($c: $font-light-brown)
      opacity: 1
  &.is-disabled
    color: #b3adad
    cursor: not-allowed


// -------------------------------------
//   States
// -------------------------------------

// Large Size
.datePicker
  // +size($w: 100vw)
  +size($w: 100%, $h: auto)
  min-width: 320px
  margin: auto
  +pos($p: absolute, $l: 0, $r: 0)
  &.is-large
    +pos($p: relative, $l: 0, $r: 0)
  // .datePicker-cell
    // +size($h: auto)
  &.is-order
    width: 100%
    +pos($p: relative, $t: 10px)
    +respond-to('tablet')
      +size($w: 100%)
      // left: 55px
      // top: 6px
      min-width: 100%

.booked-text
  &.is-danger
    color: #f13515
